{% extends 'base.html' %}
{% load static i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}

<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">{% trans "Account Inactive" %}</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="columns m-t-xl m-b-xl">
      <div class="column is-half is-offset-one-quarter">
        
        <p class="has-text-centered m-b-md">{% trans 'This account is inactive.' %}</p>

      </div>
    </div>

  </div>
</section>

{% endblock %}
