{% extends 'base.html' %}
{% load static i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Account" %}{% endblock %}

{% block content %}

<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">{% trans "E-mail Addresses" %}</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="columns">
      <div class="column is-half is-offset-one-quarter">

        {% if user.emailaddress_set.all %}
        <p class="has-text-centered m-b-md">{% trans 'The following e-mail addresses are associated with your account:' %}</p>
        
        <form action="{% url 'account_email' %}" class="email_list" method="post">
          {% csrf_token %}

          <fieldset class="blockLabels p-t-md p-l-md p-r-md p-b-md">
          
            {% for emailaddress in user.emailaddress_set.all %}
              <div class="ctrlHolder control">
                <label for="email_radio_{{forloop.counter}}" class="radio {% if emailaddress.primary %}primary_email{%endif%}">
          
                  <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>
              
                  {{ emailaddress.email }}

                  {% if emailaddress.verified %}
                    <span class="tag is-medium verified">{% trans "Verified" %}</span>
                  {% else %}
                    <span class="tag is-medium unverified">{% trans "Unverified" %}</span>
                  {% endif %}

                  {% if emailaddress.primary %}<span class="tag is-medium primary">{% trans "Primary" %}</span>{% endif %}
                  
                </label>
              </div>
            {% endfor %}
            
            <div class="buttonHolder has-text-centered m-t-md">
              <button class="button secondaryAction" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
              <button class="button secondaryAction" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
              <button class="button primaryAction" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
            </div>
          
          </fieldset>
          
        </form>
        
        {% else %}
          
          <p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>
        
        {% endif %}

        <h2 class="title is-size-5 has-text-centered m-t-lg m-b-none">{% trans 'Add E-mail Address' %}</h2>
        
        <form method="post" action="{% url 'account_email' %}" class="add_email">
          {% csrf_token %}
          {{ form }}
          <p class="has-text-centered">
            <button type="submit" name="action_add" class="button">{% trans 'Add E-mail' %}</button>
          </p>
        </form>

      </div>
    </div>

  </div>
</section>

{% endblock %}

{% block extrajs %}

<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>

{% endblock %}
