{% extends 'base.html' %}
{% load static i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}

<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">{% trans "Confirm E-mail Address" %}</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="columns m-t-xl m-b-xl">
      <div class="column is-half is-offset-one-quarter">
        
        {% if confirmation %}

          {% user_display confirmation.email_address.user as user_display %}

          <p class="has-text-centered m-t-md m-b-md">
            {% blocktrans with confirmation.email_address.email as email %}
            Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.
            {% endblocktrans %}
          </p>

          <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <p class="has-text-centered">
              <button class="button" type="submit">{% trans 'Confirm' %}</button>
            </p>
          </form>

        {% else %}

          {% url 'account_email' as email_url %}

          <p class="has-text-centered">
            {% blocktrans %}This e-mail confirmation link expired or is invalid.<br/>Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}
          </p>

        {% endif %}

      </div>
    </div>

  </div>
</section>

{% endblock %}
