{% extends 'base.html' %}
{% load static i18n %}
{% load account socialaccount %}

<!-- {% block title %}Login{% endblock %} -->

{% block content %}

<!-- <section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered"> -->
      <!-- <h1 class="title">Login</h1> -->
    <!-- </div>
  </div>
</section> -->

<!-- {% if messages %}
<div>
  <ul>
    {% for message in messages %}
    <li>
      <div class="notification is-warning">{{message}}</div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %} -->




  
<!-- <section class="section">
  <div class="container">

    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}

          <p class="has-text-centered m-b-md">
            {% blocktrans with site.name as site_name %}Please sign in with one of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in below:{% endblocktrans %}
          </p>
          
          <div class="socialaccount_ballot">
            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
            <div class="login-or">{% trans 'or' %}</div>
          </div>
          
          {% include "socialaccount/snippets/login_extra.html" %}
        
        {% else %}

          <p class="has-text-centered m-b-md">
            {% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
          </p>

        {% endif %}
        
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form }}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <p class="has-text-centered">
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="button is-primary primaryAction" type="submit">{% trans "Sign In" %}</button>
          </p>
        </form>
      </div>
    </div>

  </div>
</section> -->

<div class="container">
    <div class="row">
      <div class="col col-login mx-auto">
        <div class="text-center mb-6">
          <!-- <img src="./assets/brand/tabler.svg" class="h-6" alt=""> -->
          {% if messages %}
            
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endfor %}

          {% endif %}
        </div>
        <form class="card" method="POST" action="{% url 'account_login' %}">
          <div class="card-body p-6 ">
            <div class="card-title">Login to your account</div>
            {% csrf_token %}   
            <div class="form-group">
              <label class="form-label">Email address</label>
              <input type="text" class="form-control" name="login" id="id_login" required  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label class="form-label">
                Password
                <a href="{% url 'account_reset_password' %}" class="float-right small">I forgot password</a>
              </label>
              <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="remember">
                <span class="custom-control-label">Remember me</span>
              </label>
            </div>
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
            <div class="form-footer">
              <button type="submit" class="btn btn-primary btn-block">Sign in</button>
            </div>
          </div>
        </form>
        <div class="text-center text-muted mb-5">
          Don't have account yet? <a href="{{ signup_url }}">Sign up</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}{{ signup_url }}


  <!-- {{ form }}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %} -->