{% extends 'base.html' %}
{% load static i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">{% trans "Sign Out" %}</h1>
    </div>
  </div>
</section>

{% if messages %}
<div>
  <ul>
    {% for message in messages %}
    <li>
      <div class="notification is-warning">{{message}}</div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
  
<section class="section">
  <div class="container">

    <div class="columns m-t-xl m-b-xl">
      <div class="column is-half is-offset-one-quarter">
        
        <p class="has-text-centered m-b-md">{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <p class="has-text-centered">
            <button type="submit" class="button">{% trans 'Sign Out' %}</button>
          </p>
        </form>

      </div>
    </div>

  </div>
</section>

{% endblock %}
