{% extends 'base.html' %}
{% load static i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">{% trans "Password Reset" %}</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="columns m-t-lg m-b-lg">
      <div class="column is-half is-offset-one-quarter">
        
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
    
        <p class="has-text-centered m-t-md">
          {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
        </p>
    
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form }}
            <p class="has-text-centered">
              <input type="submit" class="button" value="{% trans 'Reset My Password' %}" />
            </p>
        </form>
    
        <p class="has-text-centered m-t-md is-size-7">
          {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
        </p>

      </div>
    </div>

  </div>
</section>

{% endblock %}
