{% extends 'base.html' %}
{% load static i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="columns m-t-xl m-b-xl">
      <div class="column is-half is-offset-one-quarter">
        
        {% if token_fail %}

          {% url 'account_reset_password' as passwd_reset_url %}
          <p class="has-text-centered">
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
          </p>

        {% else %}

          {% if form %}
            <form method="POST" action="{{ action_url }}">
              {% csrf_token %}
              {{ form }}
              <p class="has-text-centered">
                <input type="submit" class="button" name="action" value="{% trans 'change password' %}"/>
              </p>
            </form>
          {% else %}
            <p class="has-text-centered">{% trans 'Your password is now changed.' %}</p>
          {% endif %}
          
        {% endif %}

      </div>
    </div>

  </div>
</section>

{% endblock %}
