{% extends 'base.html' %}
{% load static i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">{% trans "Change Password" %}</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="columns m-t-lg m-b-lg">
      <div class="column is-half is-offset-one-quarter">
        
        <form method="post" action="{% url 'account_change_password' %}">
          {% csrf_token %}
          {{ form }}
          <p class="has-text-centered">
            <button type="submit" name="action" class="button">{% trans 'Change Password' %}</button>
          </p>
        </form>

      </div>
    </div>

  </div>
</section>

{% endblock %}
