{% extends 'base.html' %}
{% load static i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">{% trans "Password Reset" %}</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="columns m-t-xl m-b-xl">
      <div class="column is-half is-offset-one-quarter">
        
        {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <p class="has-text-centered">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        
      </div>
    </div>

  </div>
</section>

{% endblock %}
