{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="my-3 my-md-5">

            <div class="card">
                <div class="card-header">
                    <h3 class="title">Edit Experience</h3>
                </div>

                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-6">
                                <div class="card-content">
                                    {{form|crispy}}
                                </div>
                                <div class="card-action">
                                    <button class="btn btn-success" type="submit" value="Update">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}