{% extends "base.html" %}
{% block content %}
{% comment %} {% load group_filter %} {% endcomment %}
<div class="my-3 my-md-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card card-profile" style="position: fixed; width:358px; ">
              {% if profile_data.header_image %}            
            <div class="card-header" style="background-image: url('/media/{{profile_data.header_image}}');"></div>
              {% else %}
            <div class="card-header" style="background-image: url('/static/demo/photos/adrian-infernus-281832-1500.jpg');"></div>
              {% endif %}
            <div class="card-body text-center">
              {% if profile_data.picture %}
              <img class="avatar avatar-xxl" style="margin-top: -4rem; margin-bottom: 1rem;" src="{{profile_data.picture.url}}">
              {% else %}
              <img class="card-profile-img" src="/static/demo/faces/male/user.png">
              {% endif %}
              {% if profile_data.first_name %}
              <h3 class="mb-3">{{profile_data.first_name}} {{profile_data.last_name}}</h3>
              {% else %}
              <h3 class="mb-3">{{profile_data}}</h3>
              {% endif %}
              <a href="{% url 'profile-update-profile' slug=profile_data.slug %}" class="btn btn-icon btn-warning" style="margin-top: -12rem; margin-bottom: 1rem; margin-right: -15rem;"><i class="fe fe-edit"></i>edit</a>
              <p class="mb-4">
                  {{profile_data.bio}}
              </p>
            </div>
          </div>

        </div>

        <div class="col-lg-8">
          
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Experience</h3>
              <div class="card-options">
                <a href="{% url 'profile_add_experience' slug=profile_data.slug  %}" class="btn btn-success btn-sm"><i class="fe fe-plus mr-2"></i> Experience</a>
              </div>
            </div>
            <div class="list-group card-list-group">
              <div class="list-group-item py-5">
                <div class="media">
                  <div class="media-body">
                  {% if profile_data.experiencedata_set.all %}
                   <ul class="media-list">
                  {% for experience in profile_data.experiencedata_set.all|dictsort:"enroll_date" %}
                      <li class="media mt-4">
                        <div class="media-heading">
                        <button type="button" class="btn btn-icon btn-secondary btn-lg mr-4"><i class="fa fa-building-o"></i></button>
                        </div>
                        <div class="media-body">
                        <a href="{% url 'profile_update_experience' slug=profile_data.slug pk=experience.id %}" class="btn btn-warning btn-sm pull-right"><i class="fe fe-edit mr-2"></i> Edit</a>
                        <a href="{% url 'profile_delete_experience' slug=profile_data.slug pk=experience.id %}" class="btn btn-danger btn-sm pull-right"><i class="fe fe-trash mr-2"></i> Delete</a>
                        
                          <h5>{{experience.title}}</h5>
                          <p>{{experience.company}}</p>
                          {% if experience.is_current == True %}
                          <p>{{experience.enroll_date}} - Present</p>
                          {% else %}
                          <p>{{experience.enroll_date}} - {{experience.graduate_date}}</p>
                          {% endif %}
                          <div>
                            {{experience.description}}
                          </div>
                        </div>
                        {% comment %} <div> {% endcomment %}
                          {% comment %} <a href="#" class="btn btn-primary" >Edit</a>                         {% endcomment %}
                        {% comment %} </div> {% endcomment %}
                        </li>  
                  {% endfor %}
                    </ul>
                  {% else %}
                  <h4 class="text-center text-muted">Data is empty </h4>
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Educations</h3>
              <div class="card-options">
                <a href="{% url 'profile_add_education' slug=profile_data.slug %}" class="btn btn-success btn-sm"><i class="fe fe-plus mr-2"></i> Education</a>
              </div>
            </div>
            <div class="list-group card-list-group">
              <div class="list-group-item py-5">
                <div class="media">
                  <div class="media-body">  
                  {% if profile_data.educationdata_set.all %}  
                    <ul class="media-list">
                      {% for education in profile_data.educationdata_set.all %}
                      <li class="media mt-4">
                        <div class="media-heading">
                        <button type="button" class="btn btn-icon btn-secondary btn-lg mr-4"><i class="fa fa-institution"></i></button>
                        </div>
                        {% comment %} <div class="media-object avatar mr-4" style="background-image: url(/static/demo/faces/female/17.jpg)"></div> {% endcomment %}
                        <div class="media-body">
                        <a href="{% url 'profile_update_education' slug=profile_data.slug pk=education.id %}" class="btn btn-warning btn-sm pull-right"><i class="fe fe-edit mr-2"></i> Edit</a>
                        <a href="{% url 'profile_delete_education' slug=profile_data.slug pk=education.id %}" class="btn btn-danger btn-sm pull-right"><i class="fe fe-trash mr-2"></i> Delete</a>
                          <h5>{{education.name}} </h5>
                          <p>{{education.department}}</p>
                          <p>{{education.year}}</p>
                        </div>
                      </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <h4 class="text-center text-muted">Data is empty </h4>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">SKILLS</h3>
               <div class="card-options">
                <a href="{% url 'profile_add_skill' slug=profile_data.slug %}" class="btn btn-success btn-sm"><i class="fe fe-plus mr-2"></i> Skill</a>
              </div>
            </div>
            <div class="list-group card-list-group">
              <div class="list-group-item py-5">
                <div class="media">
                <div class="media-body">
                {% if profile_data.skilldata_set.all %}
                  <ul class="media-list">
                    {% for dataskill in profile_data.skilldata_set.all %}
                    <li class="media mt-4">
                        <div class="media-heading">
                          <button type="button" class="btn btn-icon btn-secondary btn-lg mr-4"><i class="fa fa-tasks"></i></button>
                        </div>
                        <div class="media-body">
                        <a href="{% url 'profile_update_skill' slug=profile_data.slug pk=dataskill.id %}" class="btn btn-warning btn-sm pull-right"><i class="fe fe-edit mr-2"></i> Edit</a>
                        <a href="{% url 'profile_delete_skill' slug=profile_data.slug pk=dataskill.id %}" class="btn btn-danger btn-sm pull-right"><i class="fe fe-trash mr-2"></i> Delete</a>
                            <h5>{{dataskill.name}}</h5>
                          <div>
                    </li>
                      {% endfor %}
                  </ul>
                  {% else %}
                  <h4 class="text-center text-muted">Data is empty </h4>
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Contact</h3>
            </div>
            <div class="list-group card-list-group">
              <div class="list-group-item py-5">
              {% if profile_data %}
                <ul class="media-list">
                  <li>
                    <div class="media media mt-4">
                      <button type="button" class="btn btn-icon btn-secondary btn-lg mr-4"><i class="fe fe-phone"></i></button>

                      <div class="media-body">
                        <div class="media-heading">
                          <h5>Phone</h5>
                          
                        </div>
                        <div>
                        {{profile_data.phone_number}}
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media media mt-4">
                      <button type="button" class="btn btn-icon btn-secondary btn-lg mr-4"><i class="fe fe-mail"></i></button>

                      <div class="media-body">
                        <div class="media-heading">
                          <h5>Email</h5>
                        </div>
                        <div>
                        {{user.email}}
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                  <div class="media media mt-4">
                      <button type="button" class="btn btn-icon btn-secondary btn-lg mr-4"><i class="fe fe-calendar"></i></button>

                      <div class="media-body">
                        <div class="media-heading">
                          <h5>Birthday</h5>
                        </div>
                        <div>
                        {{profile_data.birthdate}}
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                {% else %}
                <h4 class="text-center text-muted">Data is empty </h4>
                {% endif %}
              </div>
            </div>
          </div>

            

          {% if request_startup %}
          <div class="card">
           <div class="card-header">
              <h3 class="card-title">New Startup Invitation</h3>
            </div>
            <div class="card-body">
              <div class="row">
                {% for startuprq in request_startup %}
                <div class="col-sm-6 col-lg-5">
                  <div class="card">
                    <div class="card-status bg-green"></div>
                    <div class="card-body text-center">
                        <div class="card-category">Join</div>
                        <div class="display-3 my-4">{{startuprq.startup_rq.name}}</div>
                        <div class="text-center mt-6">
                            <a href="{% url 'approval-startup' slug=profile_data.slug pk=startuprq.startup_rq.id %}" class="btn btn-green btn-block">Accept</a>
                        </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% comment %} <h4>Data is empty</h4> {% endcomment %}
            </div>
          </div>
              {% else %}
              {% endif %}
           
            

          </div>
        </div>
      </div>
          
    </div>
</div>
{% endblock content %}

