{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
          <h3 class="title">Create New Experience</h3>
      </div>
      <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success" type="submit" value="Save" />
        </form>
      </div>
    </div>
  </div>
  
{% endblock %}