{% extends 'base.html' %}
{% load static i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}

<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">{% trans "Sign Up Closed" %}</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="columns m-t-xl m-b-xl">
      <div class="column is-half is-offset-one-quarter">
        
        <p class="has-text-centered">
          {% trans "We are sorry, but the sign up is currently closed." %}
        </p>
        
      </div>
    </div>

  </div>
</section>
  
{% endblock %}
