{% extends 'base.html' %}
{% load static i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<!-- <section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title"></h1>
    </div>
  </div>
</section> -->

<!-- <section class="section">
  <div class="container">

    <div class="columns m-t-md m-b-md">
      <div class="column is-half is-offset-one-quarter">
                
        <p class="has-text-centered m-b-md">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form }}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <p class="has-text-centered">
            <button class="button" type="submit">{% trans "Sign Up" %} &raquo;</button>
          </p>
        </form>

      </div>
    </div>

  </div>
</section> -->


<div class="container">
  <div class="row">
    <div class="col col-login mx-auto mt-5">
        
      <form id="signup_form" class="card" action="{% url 'account_signup' %}" method="post">
        <div class="card-body p-6">
          <div class="card-title">{% trans "Sign Up" %}</div>
          {% csrf_token %}
          <!-- {{ form.as_ul }} -->
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="form-group">
            <label class="form-label">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter name" value="{{ username.value }}" required>
            
            {{ form.username.errors }}
          </div>
          <div class="form-group">
            <label class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" placeholder="Enter email" required>
            {{ form.email.errors }}
          </div>
          <div class="form-group">
            <label class="form-label">Password</label>
            <input type="password" name="password1" id="id_password1" placeholder="Password" required class="form-control" placeholder="Password">
            {{ form.password1.errors }}
          </div>
          <div class="form-group">
              <label class="form-label">Password (again)</label>
              <input type="password" name="password2" id="id_password2" placeholder="Password" required class="form-control" placeholder="Password">
              {{ form.password2.errors }}
            </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-primary btn-block">{% trans "Sign Up" %} &raquo;</button>
          </div>
        </div>
      </form>
      <div class="text-center text-muted">
          {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
