{% extends 'base.html' %}
{% load static i18n %}

{% block title %}StartupSuccess{% endblock %}

{% block content %}

<div class="my-3 my-md-5">
    <div class="container">
    
        <div class="page-header">
           <h1 class="page-title">Schedule</h1>
        </div>      
    
        <div class="row row-cards row-deck">
        <div class="col-lg-8">
                {% comment %} <div class="card"> {% endcomment %}
                {% comment %} <div class="card card-aside"> {% endcomment %}
                    {% comment %} <div class="card-header">
                        <div class="card-title">Jika belum acc muncul notifikasi suruh join</div>
                    </div> {% endcomment %}
                    {% comment %} <a href="#" class="card-aside-column" style="background-image: url(./demo/photos/david-klaasen-54203-500.jpg)"></a> {% endcomment %}
                    {% comment %} <div class="card-body">
                    {% for object_list in object_list.all  %}
                        <div class="card">
                            <div class="card-body d-flex flex-column">
                                <h4><a href="#">{{object_list.program}}</a></h4>
                                <div class="text-muted">{{object_list.description}}</div>
                                <div class="d-flex align-items-center pt-5 mt-auto">    
                                    <div class="avatar avatar-md mr-3" style="background-image: url(/media/{{object_list.mentor.mentor.profile.picture}});"></div>
                                    <div>
                                        <a href="./profile.html" class="text-default"><strong> {{object_list.mentor}} </strong></a>
                                        <small class="d-block">{{object_list.startup.count}} startups going</small>
                                    </div>
                                    <div class="ml-auto">
                                        <p>{{object_list.datetime}}</p>
                                        <p>{{object_list.location}}</p> {% endcomment %}
                                        {% comment %} <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a> {% endcomment %}
                                    {% comment %} </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div> {% endcomment %}

                    {% comment %} </div> {% endcomment %}
                {% comment %} </div> {% endcomment %}
            </div>
            <div class="col-lg-8">
                {% comment %} <div class="card"> {% endcomment %}
                {% comment %} <div class="card card-aside"> {% endcomment %}
                    {% comment %} <div class="card-header"> {% endcomment %}
                        {% comment %} <div class="card-title">Next Mentoring Jika Semua sudah acc</div> {% endcomment %}
                    {% comment %} </div> {% endcomment %}
                    {% comment %} <a href="#" class="card-aside-column" style="background-image: url(./demo/photos/david-klaasen-54203-500.jpg)"></a> {% endcomment %}
                    {% comment %} <div class="card-body">
                    {% for object_list in object_list.all  %}
                        <div class="card">
                            <div class="card-body d-flex flex-column">
                                <h4><a href="#">{{object_list.program}}</a></h4>
                                <div class="text-muted">{{object_list.description}}</div>
                                <div class="d-flex align-items-center pt-5 mt-auto">    
                                    <div class="avatar avatar-md mr-3" style="background-image: url(/media/{{object_list.mentor.mentor.profile.picture}});"></div>
                                    <div>
                                        <a href="./profile.html" class="text-default"><strong> {{object_list.mentor}} </strong></a>
                                        <small class="d-block">{{object_list.startup.count}} startups going</small>
                                    </div>
                                    <div class="ml-auto">
                                        <p>{{object_list.datetime}}</p>
                                        <p>{{object_list.location}}</p> {% endcomment %}
                                        {% comment %} <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a> {% endcomment %}
                                    {% comment %} </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div> {% endcomment %}

                    {% comment %} </div> {% endcomment %}
                {% comment %} </div> {% endcomment %}
            </div>

            <div class="col-lg-4">
            <div class="row">
            
                {% comment %} <div class="card"> {% endcomment %}
                  {% comment %} <a href="#" class="card-aside-column" style="background-image: url(./demo/photos/david-marcu-114194-500.jpg)"></a> {% endcomment %}
                    {% comment %} <div class="card-body"> {% endcomment %}
                        {% comment %} <h4><a href="#">Calendar</a></h4> {% endcomment %}
                        {% comment %} <p>s</p> {% endcomment %}
                    {% comment %} <div class="text-muted">Well, we did do the nose. Why? Shut up! Will you shut up?! You don't frighten us, English pig-dog...</div> {% endcomment %}
                    {% comment %} <div class="d-flex align-items-center pt-5 mt-auto"> {% endcomment %}
                      {% comment %} <div class="avatar avatar-md mr-3" style="background-image: url(./demo/faces/male/16.jpg)"></div> {% endcomment %}
                      {% comment %} <div> {% endcomment %}
                        {% comment %} <a href="./profile.html" class="text-default">Peter Richards</a> {% endcomment %}
                        {% comment %} <small class="d-block text-muted">3 days ago</small> {% endcomment %}
                      {% comment %} </div> {% endcomment %}
                      {% comment %} <div class="ml-auto text-muted"> {% endcomment %}
                        {% comment %} <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a> {% endcomment %}
                      {% comment %} </div> {% endcomment %}
                    {% comment %} </div> {% endcomment %}
                </div>
            </div>

            </div>

            <div class="col-lg-12">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">All Schedule of Mentoring</div>
                            </div>
                            <div class="card-body">
                                <div class="text-wrap p-lg-12">
                                    {% comment %} <div class="example"> {% endcomment %}
                                        {% for object_list in object_list.all  %}                                        
                                        <div class="card">
                                            {% comment %} <div class="card card-aside"> {% endcomment %}
                                            {% comment %} <a href="#" class="card-aside-column" style="background-image: url(./demo/photos/david-klaasen-54203-500.jpg)"></a> {% endcomment %}
                                            <div class="card-body d-flex flex-column">
                                                <h4><a href="#">{{object_list.program}}</a></h4>
                                                <div class="text-muted">{{object_list.description}}</div>
                                                <div class="d-flex align-items-center pt-5 mt-auto">    
                                                    <div class="avatar avatar-md mr-3" style="background-image: url(/media/{{object_list.mentor.mentor.profile.picture}});"></div>
                                                    <div>
                                                        <a href='#' class="text-default"><strong> {{object_list.mentor}} </strong></a>
                                                        <small class="d-block">{{object_list.startup.count}} startups invited</small>
                                                    </div>
                                                    <div class="ml-auto">
                                                        <p>{{object_list.datetime}}</p>
                                                        <p>{{object_list.location}}</p>
                                                        {% comment %} <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a> {% endcomment %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    {% comment %} </div> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

               
        </div>     
    </div>
</div>

{% endblock %}
