{% extends 'base.html' %}
{% load static i18n %}

{% block title %}StartupSuccess{% endblock %}

{% block content %}
{% load group_filter %}

<div class="my-3 my-md-5">
    <div class="container">        
        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                <div class="card-title">
                    <h3 class="card-title">Attendees</h3>
                    <p>Name of program datetime</p>
                </div>    
                     <div class="d-lg-flex p-0">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg order-lg-first">
                                    <ul class="nav nav-tabs border-0  flex-lg-row justify-content-center" role="tablist">
                                        <li class="nav-item ">
                                            <a class="nav-link active" data-toggle="tab" href="#going" role="tab">Going</a> 
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#notGoing" role="tab">Not Going</a> 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-content">
                    <div class="tab-pane active" id="going" role="tabpanel">                        

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">BIO</h3>
                            <!-- User Grup masih belum berfungsi-->
                            {% comment %} {% if request.user|has_group:"mentor"%} {% endcomment %}
                                    <div class="card-options">
                                    {% comment %} <a href="{% url 'mentor-update' %} slug=self.slug "  class="btn btn-primary"> edit </a> {% endcomment %}
                                        {% comment %} <a href='{% url "mentor-update" slug=mentorData.slug %}' class="btn btn-primary btn-md">Edit</a> {% endcomment %}
                                    </div>
                            {% comment %} {% endif %} {% endcomment %}
                                </div>
                                {% if object.mentor.profile.bio %}
                                <div class="card-body">
                                    <p>{{object.mentor.profile.bio}}</p>
                                </div>                                
                                {% else %}
                                <div class="card-body">
                                    <p class="text-center text-muted">Data is empty</p>
                                </div>
                                {% endif %}

                            </div>
                
                    </div>

                    <div class="tab-pane" id="notGoing" role="tabpanel">
                       
                        <div class="row row-cards row-deck">
                     
                            <div class="col-lg-12">
                                <div class="card">
                                {% comment %} <div class="card card-aside"> {% endcomment %}
                                    <div class="card-header">
                                        <div class="card-title">New Schedule of Mentoring</div>
                                    </div>
                                    {% comment %} <a href="#" class="card-aside-column" style="background-image: url(./demo/photos/david-klaasen-54203-500.jpg)"></a> {% endcomment %}
                                    <div class="card-body d-flex flex-column">
                                        {% for schedule in mentor_schedule.all  %}
                                        <h4><a href="#">{{schedule.program}}</a></h4>
                                        <div class="text-muted">{{schedule.description}}</div>
                                        <div class="d-flex align-items-center pt-5 mt-auto">    
                                            <div class="avatar avatar-md mr-3" style="background-image: url(/media/{{schedule.mentor.mentor.profile.picture}});"></div>
                                            <div>
                                                <a href="./profile.html" class="text-default"><strong> {{schedule.mentor}} </strong></a>
                                                <small class="d-block">{{schedule.startup.count}} startups going</small>
                                            </div>
                                            <div class="ml-auto">
                                            <p>{{schedule.datetime}}</p>
                                            <p>{{schedule.location}}</p>
                                                {% comment %} <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a> {% endcomment %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>    
<!--end container-->
</div>

{% endblock %}