{% extends 'base.html' %}
{% load static i18n %}
{% load social_share %}
{% block title %}StartupSuccess{% endblock %}

{% block content %}

<div class="my-3 my-md-5">
    <div class="container">
        
        <div class="page-header">
            <h1 class="page-title">Details</h1>
        </div>

        <div class="col-lg-12">
            <div class="card">
        
                <div class="card-header">
                    <h3 class="card-title">{{dataMentoring}}</h3>
                    <div class="card-options">
                        <a href="{% url 'mentoring-feedback' pk=mentoring.id %}" class="btn btn-primary btn-sm"><i class="fa fa-comments mr-2"></i>  Feedback</a>
                    </div>
                </div>
        
                <div class="table-responsive">
                    <table class="table card-table table-striped table-vcenter">
                        <thead>
                            <tr>
                                <th colspan="2">Speaker</th>
                                <th>Time</th>
                                <th>Location</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="w-1">
                                {% if dataMentoring.mentor.mentor.profile.picture %}
                                    <span class="avatar" style="background-image: url('/media/{{dataMentoring.mentor.mentor.profile.picture}}')"></span>
                                {% else %}
                                    <span class="avatar" style="background-image: url(/static/demo/faces/male/user.png)"></span>
                                {% endif %}

                                    <td>{{dataMentoring.mentor}}</td>
                                    <td class="text-nowrap">{{dataMentoring.datetime}}</td>
                                    <td>{{dataMentoring.location}}</td>
                                          
                                    <td class="w-1"><a href="#" class="btn btn-sm btn-secondary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fe fe-upload mr-1"></i> Share</a>
                                    <div class="collapse" id="collapseExample">
                                            {% post_to_twitter "New Mentoring: {{dataMentoring}}. Check it out!" object_or_url "Twitter" %}
                                            {% post_to_facebook  object_or_url "Facebook" %}

                                        </div>
                                    </td>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-footer">
                    <h3 class="card-title">Description</h3>
                    <p>{{dataMentoring.program.description}}</p>
                </div>

                <div class="card-body">
                 <h3 class="card-title">Notes</h3>
                            <table class="table table-bordered">                    
                                <tbody>
                                    <tr>
                                        <td rowspan="4" width="150px">
                                            <div class="text-center">
                                                <span>{{dataMentoring.datetime}}</span>
                                                {% comment %} <span class="bulan">April</span><br>
                                                <span class="tanggal">10</span><br>
                                                <span class="jam">04.00 pm - 07.00 pm</span>                                            {% endcomment %}
                                            </div>
                                        </td>
                                        <td colspan="3">{{dataMentoring.mentor}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            {{dataMentoring.mentor_notes}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">{{dataMentoring.startup}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            {{ dataMentoring.startup_notes }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            {% comment %} <div class="text-center">
                            {% if startupedit %}
                                <a href='{% url "mentoring-update-startup" pk=dataMentoring.id %}'  class="btn btn-warning"><i class="fe fe-edit mr-1"></i> Edit</a>
                            {% else %}
                                <a href='{% url "mentoring-update-mentor" pk=dataMentoring.id %}'  class="btn btn-warning"><i class="fe fe-edit mr-1"></i> Edit</a>
                            {% endif %}
                            </div> {% endcomment %}
                        </div>
                
                <div class="card-body">
                    <div class="card">
                        {% for feedback in dataMentoring.feedbackformentor_set.all %}
                        <div class="card-body">
                            {% comment %} <div class=""> {% endcomment %}
                            <h3 class="card-title">Feedback From Startup</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="h5">
                                            Communication: {{feedback.communication_grade}} 
                                        </div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar {% if feedback.communication_grade < 60 %} bg-red {% elif feedback.communication_grade < 80%} bg-yellow {% else %} bg-green {% endif %}" style="width: {{feedback.communication_grade}}%"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="h5">
                                            Relevance: {{feedback.relevance_grade}}
                                        </div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar {% if feedback.relevance_grade < 60 %} bg-red {% elif feedback.relevance_grade < 80%} bg-yellow {% else %} bg-green {% endif %}" style="width: {{feedback.relevance_grade}}%"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="h5">
                                            Helpfullness: {{feedback.helpfullness_grade}}
                                        </div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar {% if feedback.helpfullness_grade < 60 %} bg-red {% elif feedback.helpfullness_grade < 80%} bg-yellow {% else %} bg-green {% endif %}" style="width: {{feedback.helpfullness_grade}}%"></div>
                                        </div>
                                    </div>
                                </div>
                            {% comment %} </div> {% endcomment %}
                        </div>
                        <div class="card-body">
                            <p>{{feedback.note}}</p>
                        </div>
                            {% endfor %}
                            
                            {% for feedback in dataMentoring.feedbackforstartup_set.all %}
                        <div class="card-body">
                            {% comment %} <div class=""> {% endcomment %}
                            <h3 class="card-title">Feedback From Mentor</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="h5">
                                            Communication: {{feedback.communication_grade}} 
                                        </div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar {% if feedback.communication_grade < 60 %} bg-red {% elif feedback.communication_grade < 80%} bg-yellow {% else %} bg-green {% endif %}" style="width: {{feedback.communication_grade}}%"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="h5">
                                            Attitude: {{feedback.attitude_grade}}
                                        </div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar {% if feedback.attitude_grade < 60 %} bg-red {% elif feedback.attitude_grade < 80%} bg-yellow {% else %} bg-green {% endif %}" style="width: {{feedback.attitude_grade}}%"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="h5">
                                            Perseverance: {{feedback.perseverance_grade}}
                                        </div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar {% if feedback.perseverance_grade < 60 %} bg-red {% elif feedback.perseverance_grade < 80%} bg-yellow {% else %} bg-green {% endif %}" style="width: {{feedback.perseverance_grade}}%"></div>
                                        </div>
                                    </div>
                                </div>
                            {% comment %} </div> {% endcomment %}
                        </div>
                        <div class="card-body">
                            <p>{{feedback.note}}</p>
                        </div>
                            {% endfor %}
                    </div>

                </div>

                

                {% comment %} <div class="card-footer">
                    <h3 class="card-title">Task</h3>
                    <p>{{dataMentoring.program.description}}</p>
                    <p> {{dataMentoring.task_for_startup}} </p>
                </div> {% endcomment %}

                {% comment %} <div class="card-body"> {% endcomment %}
                    {% comment %} <h3 class="card-title"> Startup Attendance <span>(20)</span> </h3> {% endcomment %}
                
                   {% comment %} <div class="row row-cards row-deck"> {% endcomment %}
                    {% comment %} <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <a href="#"><img class="card-img-top" src="/static/demo/photos/david-klaasen-54203-500.jpg" alt="And this isn&#39;t my nose. This is a false one."></a>
                            <div class="card-body d-flex flex-column">
                                <h4><a href="#">Name of Startup</a></h4>
                                <div class="text-muted"></div>
                            
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    {% comment %} <div class="col text-center">
                    <a href="{% url 'mentoring-attendance' pk=dataMentoring.id  %}" class="btn btn-primary" role="button">See all</a>
                    </div> {% endcomment %}
                    {% comment %} </div> {% endcomment %}
                {% comment %} </div> {% endcomment %}



                
        </div>
    </div>
</div>
<script>
$(function () {
  $('.example-popover').popover({
    container: 'body'
  })
})
</script>

{% endblock %}