{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="my-3 my-md-5">
    <!--container-->
   <div class="container">

        <div class="card">
            
            <div class="card-header">
                <h3 class="card-title"> Feedback for Startup </h3>
            </div>
        
            <div class="card-body">
                <form action="" method="post" class="">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-6">
                           
                            <div class="card-content">
                                {{ form|crispy }}
                            </div>
                           
                            <div class="card-action">
                                <input type="submit" value="Save" class="btn btn-success" />
                            </div>
            
                        </div>
                    </div>        
                </form>
            </div>
   </div>
</div>
</div>
{% endblock %}