<head>
    <link href="/static/css/dashboard.css" rel="stylesheet" />
    <style>
        .row {
            display: table;
            width: 100%;
        }

        .col-lg-2 {
            padding: 1rem;
            display: table-cell;
            text-align: center;
            width: 20%;
        }

        .col-lg-4 {
            padding: 1rem;
            display: table-cell;
            text-align: center;
            width: 33%;
        }

        .col-lg-10 {
            padding: 1rem;
            display: table-cell;
            text-align: center;
            width: 80%;
        }

        .card {
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0, 40, 100, 0.12);
            border-radius: 3px;
        }

        .card-header {
            display: block;
        }

        h1,
        .h1 {
            font-size: 2rem;
        }

        h2,
        .h2 {
            font-size: 1.75rem;
        }

        h3,
        .h3 {
            font-size: 1.5rem;
        }

        h4,
        .h4 {
            font-size: 1.125rem;
        }

        h5,
        .h5 {
            font-size: 1rem;
        }

        h6,
        .h6 {
            font-size: 0.875rem;
        }

        .list-unstyled {
            list-style: none;
            padding: 1rem;
        }

        .list-separated-item {
            padding: 1rem 0;
        }

        .list-separated-item:last-child {
            padding-bottom: 0;
        }

        .list-separated-item {
            border-top: 1px solid rgba(0, 40, 100, 0.12);
        }

        .list-separated-item:first-child {
            padding-top: 0;
            border-top: none;
        }
    </style>
</head>

<body>
    <div class="my-3 my-md-5">
        <!--container-->
        <div style="background:white">
            <h4 class="page-title" style="text-align:right">Mentoring</h4>
            <h1 class="title" style="text-align: center">Startup Success Report</h4>
                <hr style="color: rgba(0, 40, 100,0.12)">
        </div>
        <div class="container">

            <div class="card">
                <div class="card-header">
                    <h4>List of mentorings </h4>
                </div>
                <div class="card-body o-auto">
                    <ul class="list-unstyled list-separated">
                    {% for mentoring in object_list %}
                        <li class="list-separated-item">
                            <div class="card-group row">
                                <div class="col-lg-2">
                                    <div class="card-body text-center">
                                        <span>{{mentoring.datetime}}</span>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="row">
                                        <div class="card-body col-lg-10">
                                            <h5 class="card-title">{{mentoring.title}}</h5>
                                            <p class="card-text">{{mentoring.program}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>