{% extends 'base.html' %}
{% load static i18n %}

{% block title %}StartupSuccess{% endblock %}

{% block content %}

<!-- {% if mentorData %}
{% for mentor in mentorData %}
{{ mentor}}
{% endfor %} 
{% else %}
<p>kosong</p>
{% endif %} -->

<div class="my-3 my-md-5">
 <!--container-->
    <div class="container">
        <div class="page-header">
            {% comment %} <h1 class="page-title">Mentoring Feedback</h1> {% endcomment %}
            <h1 class="page-title">Mentoring</h1>
        </div>

        </div>
        <div class="card">
            <div class="card-body">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Notes</h4>
                            <div class="card-options">
                            {% comment %} {{object}} {% endcomment %}
                            {% comment %} {{user}} {% endcomment %}
                            {% if startupedit %}
                                <a class="btn btn-success btn-sm" href="{% url 'startup-feedback' pk=dataMentoring.id %}"><i class="fe fe-file-plus mr-1"></i> Add Feedback</a>
                                {% comment %} <a class="btn btn-success btn-sm" href="#"><i class="fe fe-file-plus mr-1"></i> Finish Mentoring</a> {% endcomment %}
                            {% elif mentor %}
                                <a class="btn btn-success btn-sm" href="{% url 'mentor-feedback' pk=dataMentoring.id %}"><i class="fe fe-file-plus mr-1"></i> Add Feedback</a>
                                <a class="btn btn-success btn-sm" href="{% url 'mentor_add_task' pk=user.mentor.id  %}"><i class="fe fe-file-plus mr-1"></i> Add Task</a>
                                {% comment %} <a class="btn btn-success btn-sm" href="#"><i class="fe fe-file-plus mr-1"></i> Finish Mentoring</a> {% endcomment %}
                            {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">                    
                                <tbody>
                                    <tr>
                                        <td rowspan="4" width="150px">
                                            <div class="text-center">
                                                <span>{{dataMentoring.datetime}}</span>
                                                {% comment %} <span class="bulan">April</span><br>
                                                <span class="tanggal">10</span><br>
                                                <span class="jam">04.00 pm - 07.00 pm</span>                                            {% endcomment %}
                                            </div>
                                        </td>
                                        <td colspan="3">{{dataMentoring.mentor}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            {{dataMentoring.mentor_notes}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">{{dataMentoring.startup}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            {{ dataMentoring.startup_notes }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="text-center">
                            {% if startupedit %}
                                <a href='{% url "mentoring-update-startup" pk=dataMentoring.id %}'  class="btn btn-warning"><i class="fe fe-edit mr-1"></i> Edit</a>
                            {% else %}
                                <a href='{% url "mentoring-update-mentor" pk=dataMentoring.id %}'  class="btn btn-warning"><i class="fe fe-edit mr-1"></i> Add</a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        {% for feedback in dataMentoring.feedbackformentor_set.all %}
                        <div class="card-body">
                            <div class="">
                            <h3 class="card-title">Feedback From Startup</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="h5">
                                            Communication: {{feedback.communication_grade}} 
                                        </div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar {% if feedback.communication_grade < 60 %} bg-red {% elif feedback.communication_grade < 80%} bg-yellow {% else %} bg-green {% endif %}" style="width: {{feedback.communication_grade}}%"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="h5">
                                            Relevance: {{feedback.relevance_grade}}
                                        </div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar {% if feedback.relevance_grade < 60 %} bg-red {% elif feedback.relevance_grade < 80%} bg-yellow {% else %} bg-green {% endif %}" style="width: {{feedback.relevance_grade}}%"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="h5">
                                            Helpfullness: {{feedback.helpfullness_grade}}
                                        </div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar {% if feedback.helpfullness_grade < 60 %} bg-red {% elif feedback.helpfullness_grade < 80%} bg-yellow {% else %} bg-green {% endif %}" style="width: {{feedback.helpfullness_grade}}%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>{{feedback.note}}</p>
                        </div>
                            {% endfor %}
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                    {% for feedback in dataMentoring.feedbackforstartup_set.all %}
                        <div class="card-body">
                            <div class="">
                            <h3 class="card-title">Feedback From Mentor</h3>
                            
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="h5">
                                            Communication: {{ feedback.communication_grade }}
                                        </div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar {% if feedback.communication_grade < 60 %} bg-red {% elif feedback.communication_grade < 80%} bg-yellow {% else %} bg-green {% endif %}" style="width: {{feedback.communication_grade}}%"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="h5">
                                            Attitude: {{ feedback.attitude_grade }}
                                        </div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar {% if feedback.attitude_grade < 60 %} bg-red {% elif feedback.attitude_grade < 80%} bg-yellow {% else %} bg-green {% endif %}" style="width: {{feedback.attitude_grade}}%"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="h5">
                                            Perseverance: {{ feedback.perseverance_grade}}
                                        </div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar {% if feedback.perseverance_grade < 60 %} bg-red {% elif feedback.perseverance_grade < 80%} bg-yellow {% else %} bg-green {% endif %}" style="width: {{feedback.perseverance_grade}}%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>{{ feedback.note }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>  
<!--end container-->
</div>

{% endblock %}
