{% extends 'base.html' %}
{% load static i18n %}
{% load social_share %}

{% block title %}StartupSuccess{% endblock %}

{% block content %}
{% comment %} {% load group_filter %} {% endcomment %}

<div class="my-3 my-md-5">
    <!--container-->
   <div class="container">
        <div class="page-header">
            <h1 class="page-title">Mentoring</h1>
        </div>

       {% comment %} <div class="row">
            <div class="col-lg-12"> {% endcomment %}
                {% comment %} <div class="text-right align-middle">
                    <a href='{% url "generate-mentoring-pdf" %}' class="btn btn-primary">print pdf</a>
                </div> {% endcomment %}
            {% comment %} </div>
        </div>
            <br> {% endcomment %}

            
        <div class="card">
            <div class="card-header">
            <div class="card-title">List of mentorings</div>
             {% comment %} <div class="card-options">
              <form action="">
                <div class="input-group">
                  <input type="text" class="form-control form-control-sm" placeholder="Search something..." name="s">
                  <span class="input-group-btn ml-2">
                    <button class="btn btn-sm btn-default" type="submit">
                      <span class="fe fe-search"></span>
                    </button> {% endcomment %}
                     {% comment %} {% if request.user|has_group:"admin" %} {% endcomment %}
                    {% comment %} <a class="btn btn-primary ml-5" href="{% url 'startup-add' %}">Add startup</a> {% endcomment %}
                    {% comment %} {% endif %}           {% endcomment %}
                  {% comment %} </span>
                </div>
              </form>
            </div> {% endcomment %}
                {% comment %} {% if request.user|has_group:"admin" %}   {% endcomment %}
                {% comment %} {% endif %} {% endcomment %}
                <div class="card-options">
                    {% comment %} <a href="{% url 'mentoring-add' %}" class="btn btn-success pull-right" style="margin-right: 1rem;"> Add mentorings</a>                                 {% endcomment %}
                    <a href='{% url "generate-mentoring-pdf" %}' class="btn btn-dark btn-sm pull-right"><i class="fe fe-printer"></i> Print PDF</a>                
                </div>
            </div>
            <div class="card-body o-auto">
                {% if mentoringData%}
                <ul class="list-unstyled list-separated">
                    <li class="list-separated-item">
                    {% for mentoring in mentoringData %}
                    
                        <div class="card card-aside">
                            <div class="col-lg-2">
                                <span>{{mentoring.datetime}}</span>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <h4><a href="#">{{mentoring.title}}</a></h4>
                                <div class="text-muted">{{mentoring.program.descripition}}</div>
                                <div class="d-flex align-items-center pt-5 mt-auto">
                                {% if mentoring.mentor.mentor.profile.picture %}
                                    <div class="avatar avatar-md mr-3" style="background-image: url('/media/{{mentoring.mentor.mentor.profile.picture}}')"></div>                                
                                {% else %}
                                    <div class="avatar avatar-md mr-3" style="background-image: url(/static/demo/faces/male/user.png)"></div>                                
                                {% endif %}
                                    <div>
                                        <a href="{% url 'mentor-detail' pk=mentoring.mentor.id %}" class="text-default">{{mentoring.mentor.mentor.profile}}</a>

                                        {% comment %} <a href="{% url 'mentor-detail' slug=mentoring.mentor.slug %}" class="text-default">{{mentoring.mentor.mentor.profile}}</a> {% endcomment %}
                                        {% for experience in mentoring.mentor.mentor.profile.experiencedata_set.all %}
                                        <small class="d-block text-muted">{{experience.title}} - {{experience.company}}</small>
                                        {% endfor %}
                                    </div>
                                    <div class="ml-auto text-red">
                                        <a href="{% url 'mentoring-detail' pk=mentoring.id %}" class="btn btn-outline-primary btn-sm"><i class="fe fe-file-text mr-1"></i> Detail</a>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}                                   
                    </li>
                </ul>
                {% else %}
                <h4 class="text-center text-muted"> Data is empty </h4>
                {% endif %}                       
            </div>
        </div>
    </div>
</div>
{% endblock %}


<div class="card col-lg-2">
                                    <div class="card-body text-center">
                                        <span>{{mentoring.datetime}}</span>
                                    <!-- <span class="bulan">April</span><br>
                                    <span class="tanggal">10</span><br>
                                    <span class="jam">04.00 pm - 07.00 pm</span>                                            -->
                                    </div>
                                </div>
                                <div class="card col-lg-10">
                                    <div class="row">
                                        <div class="card-body col-lg-10">
                                            <h5 class="card-title">{{mentoring.title}}</h5>
                                            <p class="card-text">{{mentoring.program}}</p>
                                        </div>
                                        <div class="card-options col-lg-2 text-right align-middle">
                                            <div class="row">
                                                <p>
                                                    <a href='{% url "mentoring-detail" pk=mentoring.id %}' class="btn btn-primary"> view</a>
                                                    <a href="#" class="btn btn-primary"> share</a>
                                    {% comment %} <span>{{mentoring.id}}</span> {% endcomment %}
                                    <a href='
                                                    {% post_to_twitter "New Song: {{mentoring.title}}. Check it out!" object_or_url "Post to Twitter" %}'>aa</a>
                                                {% comment %} {% post_to_twitter "New Materi Mentoring: {{mentoring.title}}." pk=mentoring.id "share di twitter" %} {% endcomment %}
                                                {% comment %} <a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/mentoring/980a3858-d4e9-4471-b758-3984ec4b9ddf/"> {% endcomment %}
    {% comment %} Share on Facebook {% endcomment %}
    {% comment %} </a> {% endcomment %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>