{% extends 'base.html' %}
{% load static i18n %}

{% block title %}StartupSuccess{% endblock %}

{% block content %}
{% load group_filter %}

<div class="my-3 my-md-5">
    <!--container-->
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12">
                <div class="card">

                    {% if object.mentor.profile.header_image %}
                    <div class="widget-header text-center pb-0 pt-5" style="background-image: url(/media/{{object.mentor.profile.header_image}});"></div>
                    {% else %}    
                    <div class="widget-header text-center pb-0 pt-5" style="background-image: url(/static/demo/photos/david-klaasen-54203-500.jpg);"></div> 
                    {% endif %}
            
                    <div class="card-body text-center">
                        {% if object.mentor.profile.picture %}
                        <img alt="Profile Picture" src="{{object.mentor.profile.picture.url}}" class="widget-img avatar img-border-light">
                        {% else %}
                        <img alt="Profile Picture" src="/static/demo/faces/male/user.png" class="widget-img avatar img-border-light">
                        {% endif %}
                        <br>
                        <h3 class="text-center" >{{object}}</h3>
                    </div>
                        
                    <div class="d-lg-flex p-0">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg order-lg-first">

                                    <ul class="nav nav-tabs border-0  flex-lg-row justify-content-center" role="tablist">
                                        <li class="nav-item ">
                                            <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Profile</a> 
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#mentoring" role="tab">Mentoring</a> 
                                        </li>
                                         <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#schedule" role="tab">Schedule</a> 
                                        </li>
                                    </ul>
                        
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-content">
                    <div class="tab-pane active" id="profile" role="tabpanel">
                    {% if user == mentor.mentor %}
                    

                        {% if mentor_schedule.all%}    
                        {% for schedule in mentor_schedule.all  %}
                        {% if schedule.status_mentor == False %}

                        <div class="col-lg-6">
                        
                            <div class="alert alert-success alert-dismissible">
                                <button data-dismiss="alert" class="close"></button>
                                <h4>New Schedule of Mentoring</h4>
                                <p>
                                    Hello, We have invite you to mentor digital startups.
                                </p>
                                <div class="card-body d-flex flex-column">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4><a href="#">{{schedule.program}}</a></h4>
                                            <div class="text-muted">{{schedule.description}}</div>
                                            <div class="d-flex align-items-center pt-5 mt-auto">    
                                                <div class="avatar avatar-md mr-3" style="background-image: url(/media/{{schedule.mentor.mentor.profile.picture}});"></div>
                                                <div>
                                                    <a href="./profile.html" class="text-default"><strong> {{schedule.mentor}} </strong></a>
                                                    <small class="d-block">{{startup_attendance}} startups going</small>
                                                </div>
                                                <div class="ml-auto">
                                                    <p>{{schedule.datetime}}</p>
                                                    <p>{{schedule.location}}</p>
                                                    {% comment %} <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a> {% endcomment %}
                                                </div>
                                            </div>
                                            <p>
                                                Are you interested for comming?
                                            </p>
                                            <div class="btn-list">
                                                <!-- Button trigger modal -->
                                                <button class="btn btn-success" type="button" data-toggle="modal" data-target="#yesComing">Yes</button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="yesComing" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Validation</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                {% comment %} <span aria-hidden="true">&times;</span> {% endcomment %}
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h6 class="modal-title" id="exampleModalLabel"> Are you sure?</h6>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                                {% comment %} <button type="button" class="btn btn-primary">Yes</button> {% endcomment %}
                                                                <a href='{% url "schedule_update_attendance_mentor" slug=object.slug pk=schedule.id %}' class="btn btn-primary">Yes</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#notComing">No, thanks</button>

                                                <div class="modal fade" id="notComing" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                {% comment %} <span aria-hidden="true">&times;</span> {% endcomment %}
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h6 class="modal-title" id="exampleModalLabel"> Please tell us the reason you did not come </h6>
                                                                <form>
                                                                <div class="form-group">
                                                                    <label for="message-text" class="col-form-label">Message:</label>
                                                                    <textarea class="form-control" id="message-text"></textarea>
                                                                </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary">Send message</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        {% endif %}

                    {% else %}
                    {% endif %}
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">BIO</h3>
                            <!-- User Grup masih belum berfungsi-->
                            {% comment %} {% if request.user|has_group:"mentor"%} {% endcomment %}
                                    <div class="card-options">
                                    {% comment %} <a href="{% url 'mentor-update' %} slug=self.slug "  class="btn btn-primary"> edit </a> {% endcomment %}
                                        {% comment %} <a href='{% url "mentor-update" slug=mentorData.slug %}' class="btn btn-primary btn-md">Edit</a> {% endcomment %}
                                    </div>
                            {% comment %} {% endif %} {% endcomment %}
                                </div>
                                {% if object.mentor.profile.bio %}
                                <div class="card-body">
                                    <p>{{object.mentor.profile.bio}}</p>
                                </div>                                
                                {% else %}
                                <div class="card-body">
                                    <p class="text-center text-muted">Data is empty</p>
                                </div>
                                {% endif %}

                            </div>
                    
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Skills</h3>
                                    <!-- User Grup masih belum berfungsi-->
                                    {% comment %} {% if request.user|has_group:"mentor"%} {% endcomment %}
                                    <div class="card-options">
                                    <!-- Belum bisa menambahkan add data-->
                                        {% comment %} <a href='{% url "mentor-update-skills" slug=mentorData.slug %}' class="btn btn-primary btn-md">Tambah</a> {% endcomment %}
                                    </div>
                                    {% comment %} {% endif %} {% endcomment %}
                                </div>
                                <div class="card-body">
                                {% if object.mentor.profile.skilldata_set %}
                                <ol type="1">
                                    {% for skill in object.mentor.profile.skilldata_set.all %}
                                    <li>{{skill.name}}</li>
                                    {% endfor %}
                                </ol> 
                                {% else %}
                                <div class="card-body">
                                    <p class="text-center text-muted">Data is empty</p>
                                </div>
                                {% endif %}
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                <h3 class="card-title">Experience</h3>
                                {% comment %} {% if request.user|has_group:"mentor"%} {% endcomment %}
                                <div class="card-options">
                                    {% comment %} <a href="#" class="btn btn-primary btn-md">Tambah</a> {% endcomment %}
                                </div>
                                {% comment %} {% endif %} {% endcomment %}
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled">
                                    {% if object.mentor.profile.experiencedata_set.all %}
                                        {% for experience in object.mentor.profile.experiencedata_set.all %}
                                        <li>Title : {{experience.title}}</li>
                                        <li>Company : {{experience.company}}</li>
                                        {% if experience.is_current == True %}
                                        <li>{{experience.enroll_date}} - Present</li>
                                        {% else %}
                                        <li>{{experience.enroll_date}} - {{experience.graduate_date}}</li>
                                        {% endif %}
                                        <li>
                                            {{experience.description}}
                                        </li>
                                        {% endfor %}
                                    {% else %}
                                    <div class="card-body">
                                        <p class="text-center text-muted">Data is empty</p>
                                    </div>
                                    {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                <h3 class="card-title">Educations</h3>
                                {% comment %} {% if request.user|has_group:"mentor"%} {% endcomment %}
                                <div class="card-options">
                                    {% comment %} <a href="#" class="btn btn-primary btn-md">Tambah</a> {% endcomment %}
                                </div>
                                {% comment %} {% endif %} {% endcomment %}
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled">
                                    {% if object.mentor.profile.educations.all %}
                                        {% for education in object.mentor.profile.educations.all %}
                                        <li>Name of schools : {{education.name}}</li>
                                        <li>Departments : {{education.department}}</li>
                                        <li>Year : {{education.year}}</li>
                                    {% endfor %}
                                    {% else %}
                                    <div class="card-body">
                                        <p class="text-center text-muted">Data is empty</p>
                                    </div>
                                    {% endif %}
                                    </ul>
                                </div>
                            </div>
                    </div>

                    <div class="tab-pane" id="mentoring" role="tabpanel">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="text-right align-middle">
                                        <a href='{% url "generate-mentor-pdf" slug=object.slug %}' class="btn btn-dark"><i class="fe fe-printer mr-1"></i> Print PDF</a>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <h5 class="card-title color-primary">Communication</h5>             
                                            <h1 class="card-text color-primary">{{object.communication_avg.communication_grade__avg}}</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">                        
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <h5 class="card-title color-primary">Relevance</h5>
                                            <h1 class="card-text color-primary">{{object.relevance_avg.relevance_grade__avg}}</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <h5 class="card-title color-primary">Helpfullness</h5>
                                            <h1 class="card-text color-primary">{{object.helpfullness_avg.helpfullness_grade__avg}}</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row row-cards row-deck">
                     
                           {% comment %} <div class="col-lg-8"> {% endcomment %}
                                {% comment %} <div class="card">  {% endcomment %}
                                {% comment %} <div class="card card-aside"> {% endcomment %}
                                    {% comment %} <div class="card-header">
                                        <div class="card-title">New Schedule of Mentoring</div>
                                    </div> {% endcomment %}
                                    {% comment %} <a href="#" class="card-aside-column" style="background-image: url(./demo/photos/david-klaasen-54203-500.jpg)"></a> {% endcomment %}
                                    {% comment %} <div class="card-body d-flex flex-column">
                                        {% for schedule in mentor_schedule.all  %}
                                        <h4><a href="#">{{schedule.program}}</a></h4>
                                        <div class="text-muted">{{schedule.description}}</div>
                                        <div class="d-flex align-items-center pt-5 mt-auto">    
                                            <div class="avatar avatar-md mr-3" style="background-image: url(/media/{{schedule.mentor.mentor.profile.picture}});"></div>
                                            <div>
                                                <a href="./profile.html" class="text-default"><strong> {{schedule.mentor}} </strong></a>
                                                <small class="d-block">{{schedule.startup.count}} startups going</small>
                                            </div>
                                            <div class="ml-auto">
                                            <p>{{schedule.datetime}}</p>
                                            <p>{{schedule.location}}</p> {% endcomment %}
                                                {% comment %} <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a> {% endcomment %}
                                            {% comment %} </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div> {% endcomment %}

                            {% comment %} <div class="col-lg-4"> {% endcomment %}
                                {% comment %} <div class="card card-aside"> {% endcomment %}
                                {% comment %} <a href="#" class="card-aside-column" style="background-image: url(./demo/photos/david-marcu-114194-500.jpg)"></a> {% endcomment %}
                                {% comment %} <div class="card-body d-flex flex-column"> {% endcomment %}
                                    {% comment %} <h4><a href="#">Calendar</a></h4> {% endcomment %}
                                    {% comment %} <div class="text-muted">Well, we did do the nose. Why? Shut up! Will you shut up?! You don't frighten us, English pig-dog...</div> {% endcomment %}
                                    {% comment %} <div class="d-flex align-items-center pt-5 mt-auto"> {% endcomment %}
                                    {% comment %} <div class="avatar avatar-md mr-3" style="background-image: url(./demo/faces/male/16.jpg)"></div> {% endcomment %}
                                    {% comment %} <div> {% endcomment %}
                                        {% comment %} <a href="./profile.html" class="text-default">Peter Richards</a> {% endcomment %}
                                        {% comment %} <small class="d-block text-muted">3 days ago</small> {% endcomment %}
                                    {% comment %} </div> {% endcomment %}
                                    {% comment %} <div class="ml-auto text-muted"> {% endcomment %}
                                        {% comment %} <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a> {% endcomment %}
                                    {% comment %} </div> {% endcomment %}
                                    {% comment %} </div> {% endcomment %}
                                {% comment %} </div> {% endcomment %}
                            {% comment %} </div> {% endcomment %}
                        </div>
                        <div class="row row-cards row-deck">
                            <div class="col-lg-8">
                            {% for schedule in mentor_schedule.all  %}
                            {% if schedule.status_startup == True %}
                            
                            

                                <div class="card">
                                {% comment %} <div class="card card-aside"> {% endcomment %}
                                    <div class="card-header">
                                        <div class="card-title">Next Mentoring</div>
                                    </div>
                                    {% comment %} <a href="#" class="card-aside-column" style="background-image: url(./demo/photos/david-klaasen-54203-500.jpg)"></a> {% endcomment %}
                                    <div class="card-body d-flex flex-column">
                                       
                                        
                                        <h4><a href="#">{{schedule.program}}</a></h4>
                                        <div class="text-muted">{{schedule.description}}</div>
                                        <div class="d-flex align-items-center pt-5 mt-auto">    
                                            <div class="avatar avatar-md mr-3" style="background-image: url(/media/{{schedule.mentor.mentor.profile.picture}});"></div>
                                            <div>
                                                <a href="./profile.html" class="text-default"><strong> {{schedule.mentor}} </strong></a>
                                                <small class="d-block">{{schedule.startup.count}} startups going</small>
                                            </div>
                                            <div class="ml-auto">
                                            <p>{{schedule.datetime}}</p>
                                            <p>{{schedule.location}}</p>
                                                {% comment %} <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a> {% endcomment %}
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                                {% else %}
                            {% endif %}
                                        {% endfor %}

                            </div>
                            
                        </div>

                                <div class="card">
                                <div class="card-header">
                                    <h4>Mentoring Now </h4>
                                    {% if user == mentor.mentor %}
                                     <div class="card-options">
                                        <a href='{% url "mentor-add-mentoring" slug=object.slug %}' class="btn btn-success pull-right"> Add mentorings</a>                                
                                    </div> 
                                    {% else %}
                                    {% endif %}
                                </div>
                                <div class="card-body o-auto">
                                {% if mentor_mentoring %}        
                                    {% for mentoring in mentor_mentoring %}
                                    <ul class="list-unstyled list-separated">
                                        <li class="list-separated-item">
                                            <div class="card-group row">
                                                <div class="card col-lg-2">
                                                    <div class="card-body text-center">
                                                        <span>{{mentoring.datetime}}</span>
                                                        <!-- <span class="bulan">April</span><br>
                                                        <span class="tanggal">10</span><br>
                                                        <span class="jam">04.00 pm - 07.00 pm</span>                                            -->
                                                    </div>
                                                </div>
                                                <div class="card col-lg-10">
                                                    <div class="row">
                                                        <div class="card-body col-lg-12">
                                                            <h5 class="card-title"> {{mentoring.title}} </h5>
                                                            <p class="card-text">{{mentoring.program.description}}</p>
                                                            <div class="btn-list text-right">
                                                            <a href='{% url "mentoring-detail" pk=mentoring.id %}' class="btn btn-outline-primary btn-sm"><i class="fe fe-clipboard mr-1"></i> View</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                  
                                        </li>
                                    </ul>
                                    {% endfor %}
                                    <div class="text-center">
                                        <a class="btn btn-primary" href="{% url 'mentoring-list' %}"><i class="fe fe-list mr-1"></i> All Mentorings</a>
                                    </div>
                                {% else %}
                                    <h4 class="text-center text-muted" > Data is empty </h4>
                                {% endif %}
                                </div>
                            </div>




                        <div class="card">
                            <div class="card-header">
                                <h4>List of previous mentorings </h4>
                            </div>
                            <div class="card-body o-auto">
                            {% if object.mentoring_set.all %}
                                <ul class="list-unstyled list-separated">
                                    <li class="list-separated-item">
                                    {% for mentoring in object.mentoring_set.all %}
                                        <div class="card card-aside">
                                            <div class="col-lg-2">
                                                <span>{{mentoring.datetime}}</span>
                                                <br>
                                            </div>
                                            <div class="card-body d-flex flex-column">
                                                <h4><a href="{% url 'mentoring-detail' pk=mentoring.id %}">{{mentoring.title}}</a></h4>
                                                <div class="text-muted">{{mentoring.program.description}}</div>
                                                    <div class="ml-auto text-red">
                                                     {% if user == mentor.mentor %}
                                                    <a href='{% url "mentor-update-mentoring" slug=object.slug  pk=mentoring.id %}' class="btn btn-outline-primary btn-sm"><i class="fe fe-plus mr-1"></i> Edit mentoring</a>
                                                        <a href='{% url "mentoring-detail" pk=mentoring.id %}' class="btn btn-outline-primary btn-sm"><i class="fe fe-clipboard mr-1"></i> View</a>
                                                    {% endif %}
                                                    </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </li>
                                </ul>
                            {% else %}
                                <h4 class="text-center text-muted">Data is empty</h4>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="schedule" role="tabpanel">
                    
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Schedule</h3>
                                <div class="card-options">
                            </div>
                        </div>
                        {% if object.scheduling_set.all %}
                        {% for schedule in object.scheduling_set.all %}
                        <div class="card-body">
                            <h4><a href="#">{{schedule}}</a></h4>
                            <div class="text-muted">{{schedule.description}}</div>
                            <div class="d-flex align-items-center pt-5 mt-auto">    
                                <div class="avatar avatar-md mr-3" style="background-image: url(/media/{{schedule.mentor.mentor.profile.picture}});"></div>
                                <div>
                                    <a href='#' class="text-default"><strong> {{schedule.mentor}} </strong></a>
                                    <small class="d-block">{{startup_attendance}} startups going</small>
                                </div>
                                <div class="ml-auto">
                                    <p>{{schedule.datetime}}</p>
                                    <p>{{schedule.location}}</p>
                                    {% comment %} <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a> {% endcomment %}
                                </div>
                            </div>
                        </div>                                
                        {% endfor %}
                        {% else %}
                        <div class="card-body">
                            <p class="text-center text-muted">Data is empty</p>
                        </div>
                        {% endif %}

                    </div>
                    </div>

                </div>

            </div>
        </div>
    </div>    
<!--end container-->
</div>

{% endblock %}


{% comment %} <script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
</script> {% endcomment %}