{% extends 'base.html' %}
{% load static i18n %}

{% block title %}StartupSuccess{% endblock %}

{% block content %}
{% load group_filter %}

<div class="my-3 my-md-5">
  <!-- container -->
  <div class="container">
    <!-- header -->
    <div class="page-header">
      <h1 class="page-title">Mentor</h1>
    </div>
  <!-- end header -->
  
  <!--List mentor-->
    <div class="row">

      <div class="col-lg-12">
        <div class="card">
    
          <!--card header-->
          <div class="card-header">
            <div class="card-title">List of mentors</div>
            <div class="card-options">
              <form action="">
                <div class="input-group">
                  <input type="text" class="form-control form-control-sm" placeholder="Search something..." name="s">
                  <span class="input-group-btn ml-2">
                    <button class="btn btn-sm btn-default" type="submit">
                      <span class="fe fe-search"></span>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <!--end card header-->
          <div class="card-body">
            {% if mentors  %}
            <div class="row">
              {% for mentor in mentors %}
              <div class="col-lg-3">
                <div class="card">

                  {% if mentor.mentor.profile.header_image %}
                  <div class="widget-header" style="background-image: url('/media/{{mentor.mentor.profile.header_image}}')"></div>
                  {% else %}
                  <div class="widget-header" style="background-image: url(/static/demo/photos/david-klaasen-54203-500.jpg);"></div>
                  {% endif %}
                  
                  {% comment %} <div class="card-body text-center {% if mentor.mentor.profile.nickname == bestMentor.mentoring.mentor.mentor.profile.nickname %} best {% endif %}"> {% endcomment %}
                  
                  <div class="card-body text-center ">
                
                    {% if mentor.mentor.profile.picture %}
                    <img alt="Profile Picture" src="{{mentor.mentor.profile.picture.url}}" class="widget-img avatar img-border-light">
                    {% else %}
                     <img alt="Profile Picture" src="../static/demo/faces/male/user.png" class="widget-img avatar img-border-light">
                    {% endif %}

                    <br>
                    {% comment %} <a href="{% url 'mentor-detail' pk=mentor.id %}"> m</a> {% endcomment %}
                    {% comment %} {{mentor}} {% endcomment %}
                    <a href="{% url 'mentor-detail' pk=mentor.id %}">
                        <h4 class="card-title">{{mentor.mentor}}</h4>
                    </a>
                    <br>
                    <p class="mb-4">
                      {{mentor.mentor.profile.bio }}
                    </p>
                    {% if mentor.mentor.profile.experiencedata_set.all is None %}
                    <h6 class="text-uppercase">Company|Experience</h6>                                        
                    <h6 class="card-subtitle text-uppercase">Undefined</h6>
                    {% else %}
                    {% for experience in mentor.mentor.profile.experiencedata_set.all %}
                    {% if forloop.last %}
                    <h6 class="text-uppercase">{{experience.title}} AT {{experience.company}} </h6>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    
                    <hr>
                    <h6 class="text-center text-uppercase">Skills</h6>
                    <div class="row justify-content-md-center">
                      <div class="col-5">
                      {% if mentor.mentor.profile.skilldata_set.all is None %}
                      <h6 class="card-subtitle text-uppercase">Undefined</h6>
                      {% else %}
                        <div class="row">
                      {% for skill in mentor.mentor.profile.skilldata_set.all %}
                            <h6>{{skill.name}}</h6>
                      {% endfor %}
                        </div>
                      {% endif %}
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              {% endfor %}
            </div>
            {% else %}
            <h4 class="text-center text-muted" >Data is empty</h4>
            {% endif %}
          </div>
       

           <!--pagination-->
           
           {% if is_paginated %}
           <div class="card-footer">
             <div class="row justify-content-md-center">
               <div class="pagination">
                 <div class="hint-text page-links">
                   <ul class="pagination">
                   {% if page_obj.has_previous %}
                     <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"><i class="fa fa-angle-double-left"></i></a></li>
                     <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link page-current">{{ page_obj.previous_page_number }} </a></li>
                   {% endif %}
                     <li class="page-item"><a href="#" class="page-link page-current">{{ page_obj.number }} </a></li>
          
                   {% if page_obj.has_next %}
                     <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link page-current">{{ page_obj.next_page_number }} </a></li>
                     <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                   {% endif %} 
                   </ul>
                 </div>
               </div>
             </div>
           </div>
           {% endif %} 
            <!--end pagination-->    

      
        </div>
      </div>
    </div>
  <!--end list mentor-->
  </div>
  <!-- end container -->
</div>
{% endblock %}
