{% extends 'base.html' %}
{% load static i18n %}

{% block title %}StartupSuccess{% endblock %}

{% block content %}

<!-- {% if mentorData %}
{% for mentor in mentorData %}
{{ mentor}}
{% endfor %} 
{% else %}
<p>kosong</p>
{% endif %} -->

<div class="my-3 my-md-5">
 <!--container-->
<div class="container">
    <div class="page-header">
        <h1 class="page-title">Details</h1>
    </div>
    <div class="card">
        <div class="card-two">
            <div class="widget-header text-center pb-0 pt-5" style="background-image: url(/static/demo/photos/david-klaasen-54203-500.jpg);">
                <img alt="Profile Picture" src="/static/demo/faces/male/32.jpg" class="card-profile-img mt-5">
                <h3 class="text-center text-white" >Name of mentor</h3>
                <ul class="nav nav-tabs card-header-tabs justify-content-center tabs_detail" role="tablist">
                    <li class="nav-item ">
                        <!-- <a class="nav-link active" href="#">Profile</a> -->
                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a> 
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="#">Mentoring</a> -->
                        <a class="nav-link active" data-toggle="tab" href="#mentoring" role="tab">Mentoring</a> 
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Mentoring</a></li>
                <li class="breadcrumb-item active" aria-current="page">Details</li>
            </ol>
        </nav>
        <div class="tab-content">
            <div class="tab-pane" id="profile" role="tabpanel">
                <div class="card-body">
                <br>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">BIO</h3>
                            <div class="card-options">
                                <a href="#" class="btn btn-primary btn-sm">Edit</a>
                            </div>
                        </div>
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                        </div>
                    </div>
                </div>
                <br>                
                <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Skills</h3>
                    <div class="card-options">
                        <a href="#" class="btn btn-primary btn-sm">Tambah</a>
                    </div>
                    </div>
                    <div class="card-body">
                        <ol type="1">
                            <li>Skills 1</li>
                            <li>Skills 2</li>
                            <li>Skills 3</li>
                        </ol>
                    </div>
                </div>
                </div>
                <br>                
                <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Experience</h3>
                    <div class="card-options">
                        <a href="#" class="btn btn-primary btn-sm">Tambah</a>
                    </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar avatar-xl" style="background-image: url(/static/demo/faces/female/9.jpg)"></span>
                            </div>
                            <div class="col">
                                <ul class="list-unstyled">
                                    <li>Title</li>
                                    <li>Company</li>
                                    <li>Location</li>
                                    <li>From - Until</li>
                                    <li>Description</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>                
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Educations</h3>
                    <div class="card-options">
                        <a href="#" class="btn btn-primary btn-sm">Tambah</a>
                    </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>Name of schools</li>
                            <li>Departments</li>
                            <li>Year</li>
                        </ul>
                    </div>
                </div>
            </div>
                </div>
            </div>
            <div class="tab-pane" id="mentoring" role="tabpanel">
                    <div class="card-body">
                        <div class="row">
                        <br>
                        <div class="col-lg-4">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5 class="card-title color-primary">Communication</h5>
                                    <h1 class="card-text color-primary">9.0</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">                        
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5 class="card-title color-primary">Relevance</h5>
                                    <h1 class="card-text color-primary">9.0</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                        <div class="card text-center">
                            <div class="card-body">
                            <h5 class="card-title color-primary">Helpfullness</h5>
                            <h1 class="card-text color-primary">9.0</h1>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                 
    
    
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>List of mentorings </h4>
                                    <div class="card-options">
                                        <a href="#" class="btn btn-success pull-right"> Add mentorings</a>                                
                                    </div>
                                </div>
                                <div class="card-body o-auto">
                                        <ul class="list-unstyled list-separated">
                                          <li class="list-separated-item">
                                            <div class="card-group row">
                                              <div class="card col-lg-2">
                                                <div class="card-body text-center">
                                                    <span class="bulan">April</span><br>
                                                    <span class="tanggal">10</span><br>
                                                    <span class="jam">04.00 pm - 07.00 pm</span>                                           
                                                 </div>
                                              </div>
                                              <div class="card col-lg-10">
                                                  <div class="row">
                                                        <div class="card-body col-lg-10">
                                                                <h5 class="card-title">Title</h5>
                                                                <div class="card-options">
                                                                    <span>
                                                                        
                                                                    </span>
                                                                </div>
                                                                <p class="card-text">content</p>
                                                                </div>
                                                                <div class="card-body col-lg-2 text-right align-middle">
                                                                        <a href="#" class="btn btn-primary "> view</a>
                                                                </div>
                                                  </div>
                                                
                                              </div>
                                            </div>                  
                                          </li>
                                          <li class="list-separated-item">
                                                <div class="card-group row">
                                                  <div class="card col-lg-2">
                                                    <div class="card-body text-center">
                                                        <span class="bulan">April</span><br>
                                                        <span class="tanggal">10</span><br>
                                                        <span class="jam">04.00 pm - 07.00 pm</span>                                           
                                                     </div>
                                                  </div>
                                                  <div class="card col-lg-10">
                                                      <div class="row">
                                                            <div class="card-body col-lg-10">
                                                                    <h5 class="card-title">Title</h5>
                                                                    <div class="card-options">
                                                                        <span>
                                                                            
                                                                        </span>
                                                                    </div>
                                                                    <p class="card-text">content</p>
                                                                    </div>
                                                                    <div class="card-body col-lg-2 text-right align-middle">
                                                                            <a href="#" class="btn btn-primary "> view</a>
                                                                    </div>
                                                      </div>
                                                    
                                                  </div>
                                                </div>                  
                                              </li>
                                              <li class="list-separated-item">
                                                    <div class="card-group row">
                                                      <div class="card col-lg-2">
                                                        <div class="card-body text-center">
                                                            <span class="bulan">April</span><br>
                                                            <span class="tanggal">10</span><br>
                                                            <span class="jam">04.00 pm - 07.00 pm</span>                                           
                                                         </div>
                                                      </div>
                                                      <div class="card col-lg-10">
                                                          <div class="row">
                                                                <div class="card-body col-lg-10">
                                                                        <h5 class="card-title">Title</h5>
                                                                        <div class="card-options">
                                                                            <span>
                                                                                
                                                                            </span>
                                                                        </div>
                                                                        <p class="card-text">content</p>
                                                                        </div>
                                                                        <div class="card-body col-lg-2 text-right align-middle">
                                                                                <a href="#" class="btn btn-primary "> view</a>
                                                                        </div>
                                                          </div>
                                                        
                                                      </div>
                                                    </div>                  
                                                  </li>
    
                                        </ul>
                                      </div>
                            </div>
                        </div>
    
        
                    
                     <!-- /# column -->
            </div>
            <div class="tab-pane active" role="tabpanel">
                <div class="card-body">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Notes</h4>
                            </div>
                            <div class="card-body">

                            <table class="table table-bordered">
                                    
                                    <tbody>

                                      <tr>
                                        <td rowspan="4" width="150px">
                                            <div class="text-center">
                                                <span class="bulan">April</span><br>
                                                <span class="tanggal">10</span><br>
                                                <span class="jam">04.00 pm - 07.00 pm</span>                                           
                                            </div>
                                        </td>
                                        <td colspan="3">Mentor 1</td>
                                      </tr>
                                      <tr>
                                        <td colspan="3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam dolorem rerum, nihil hic dicta totam sint, inventore placeat quas aut beatae nesciunt perferendis non reiciendis facilis ipsa quae minima cumque!</td>
                                      </tr>
                                      <tr>
                                        <td colspan="3">Startup 1</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam dolorem rerum, nihil hic dicta totam sint, inventore placeat quas aut beatae nesciunt perferendis non reiciendis facilis ipsa quae minima cumque!</td>
                                    </tr>

                                    </tbody>

                                  </table>

                                  <div class="text-center">
                                        <a href="#" class="btn btn-primary">Edit</a>
                                    </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="">
                                <h3 class="card-title">Feedback From Startup</h3>
                                
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="h5">
                                                Communication: 30%
                                            </div>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-red" style="width: 28%"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="h5">
                                                Relevance: 80%
                                            </div>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-green" style="width: 28%"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="h5">
                                                Helpfullness: 50%
                                            </div>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-yellow" style="width: 28%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus obcaecati voluptate qui similique veniam ullam numquam itaque. Labore, quos omnis possimus beatae, dolorum distinctio perspiciatis nam odit voluptatem similique velit. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<!--end container-->
</div>

{% endblock %}
