{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="my-3 my-md-5">
    <div class="container">
     
        <div class="card">
     
            <div class="card-header">
                <h3 class="title">Edit Profile</h3>
            </div>
     
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="from-group row ">
                        <div class="col-6">
                            
                            <div class="card-content">
                                {{ form|crispy}}
                            </div>
                
                            <div class="card-action">
                                <input type="submit" value="Update" class="btn btn-primary"/>
                            </div>
                        
                        </div>
                    </div>
                </form>
            </div>
       
        </div>
    
    </div>
</div>

{% endblock %}