{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="my-3 my-md-5">
<div class="container">
    <div class="card">
        <div class="card-header">
          <h3 class="title">Mentor Validation</h3>
        </div>
        <div class="card-body">
        {% comment %} <form action="#" method="post" enctype="multipart/form-data"> {% endcomment %}

        <form action="{% url 'qualification_add_mentor' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="optAsk" class="">Tanya</label><br>
            {% for ask in qualification %}
            {{ask.pertanyaan}}
            {% for opsi in ask.mentor_pertanyaan.all %}

            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{ask.id}}" id="" value="{{opsi.id}}">
                <label class="form-check-label" for="exampleRadios1">
                    {{opsi}}
                </label>
            </div>
             {% comment %} <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" aria-label="Radio button for following text input" name="id_opsi" value="{{id}}">
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with radio button" name="name_opsi" value="{{opsi}}">
            </div> {% endcomment %}
            {% endfor %} 
            {% endfor %}
            <br>
            <div class="card-action">
                <input type="submit" class="btn btn-primary" value="Save">
            </div>
        </form>
    </div>
       
    </div>
</div>
</div>
{% endblock content %}
