{% extends 'base.html' %}

{% block content %}
<div class="my-3 my-md-5">
<div class="container">
    <div class="card">
        <div class="card-header">
        {% comment %} {{data_mentor}} {% endcomment %}
        
          <h3 class="title">Mentor Validation</h3>
        </div>
        {% if data_mentor.count < 1 %}
        <div class="card-body">
        <h3>Thanks for your submission</h3>
        <h4>sorry you haven't succeeded to be a mentor </h4>
        <a href="{% url 'account_logout' %}" class="btn btn-primary" >Logout</a>
        </div>        
        {% else %}
        <div class="card-body">
        <h3>Thanks for your submission</h3>
        <h4>Congratulations, you have succeeded to be a mentor </h4>
        <a href="{% url 'home' %}" class="btn btn-primary" >Dashboard</a>
        </div>        
        {% endif %}

    </div>
</div>
</div>
{% endblock content %}
