{% extends 'base.html' %}
{% load static i18n %}
{% block title %}StartupSuccess{% endblock %}
{% block content %}
{% load group_filter %}

<div class="my-3 my-md-5">
    <!--container-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-profile">

                    {% if startup.header_image %}
                    <div class="card-header" style="background-image: url('{{startup.header_image.url}}');"></div>
                    {% else %}
                    <div class="card-header" style="background-image: url('/static/demo/photos/adrian-infernus-281832-1500.jpg');"></div>
                    {% endif %}

                    <div class="card-body text-center">

                        {% if startup.picture %}
                        <img alt="Profile Picture" class=" widget-img avatar img-border-light" src="{{startup.picture.url}}">
                        {% else %}
                        <img alt="Profile Picture" class="card-profile-img" src="/static/demo/faces/male/user.png" style="width: 6rem;">
                        {% endif %}

                        <br>
                        <h3 class="mb-3"> {{startup.name}} </h3>
                        <p class="mb-4">{{startup.description}}</p>
                        
                        {% if edit %}        
                        <button class="btn btn-outline-warning btn-sm" onclick="window.location.href='update'">
                            <span class="fe fe-edit"> Edit</span>
                        </button>
                        <button class="btn btn-outline-danger btn-sm" onclick="window.location.href='delete'">
                            <span class="fe fe-trash"> Delete</span>
                        </button>
                        {% else %}
                        {% endif %}
 

                    </div>

                    <div class="d-lg-flex p-0">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg order-lg-first">
                                    <ul class="nav nav-tabs border-0  flex-lg-row justify-content-center" role="tablist">
                                        <li class="nav-item ">
                                            <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a> 
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#mentoring" role="tab">Mentoring</a> 
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#progress" role="tab">Progress</a> 
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#schedule" role="tab">Schedules</a> 
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#detail" role="tab">Details</a> 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="tab-content">
                    
                    <div class="tab-pane active" id="overview" role="tabpanel">
                        {% if edit %}
                         <div class="col-lg-6">
                                    {% for schedule in startup_schedule.all  %}
                                    {% if schedule.status_startup == False %}
                                    
                        
                           <div class="alert alert-success alert-dismissible">
                                <button data-dismiss="alert" class="close"></button>
                                <h4>New Schedule of Mentoring</h4>
                                <p>
                                    Hello, We have invite you to join mentoring digital startups.

                                </p>
                                <div class="card-body d-flex flex-column">
                              
                                <div class="card">

                                <div class="card-body">
                                    <h4><a href="#">{{schedule.program}}</a></h4>
                                    <div class="text-muted">{{schedule.description}}</div>
                                    <div class="d-flex align-items-center pt-5 mt-auto">
                                    {% if schedule.mentor.mentor.profile.picture %}
                                        <div class="avatar avatar-md mr-3" style="background-image: url(/media/{{schedule.mentor.mentor.profile.picture}});"></div>                                    
                                    {% else %}
                                        <div class="avatar avatar-md mr-3" style="background-image: url(/static/demo/faces/male/user.png)"></div>
                                    {% endif %}
                                        <div>
                                            <a href="./profile.html" class="text-default"><strong> {{schedule.mentor}} </strong></a>
                                            <small class="d-block">{{schedule.startup.count}} startups going</small>
                                        </div>
                                        <div class="ml-auto">
                                            <p>{{schedule.datetime}}</p>
                                            <p>{{schedule.location}}</p>
                                            {% comment %} <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a> {% endcomment %}
                                        </div>
                                    </div>
                                     <p>
                                        Are you interested for comming?
                                    </p>
                                 <div class="btn-list">
                                    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#yesComing">Yes</button>

                                                                        <!-- Button trigger modal -->
                                    {% comment %} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Launch demo modal
                                    </button> {% endcomment %}

                                    <!-- Modal -->
                                    <div class="modal fade" id="yesComing" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            {% comment %} <span aria-hidden="true">&times;</span> {% endcomment %}
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                                <h6 class="modal-title" id="exampleModalLabel"> Are you sure?</h6>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            <a href='{% url "schedule_update_attendance_startup" slug=object.slug pk=schedule.id %}' class="btn btn-primary">Yes</a>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                    <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#notComing">No, thanks</button>

                                    <div class="modal fade" id="notComing" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                {% comment %} <span aria-hidden="true">&times;</span> {% endcomment %}
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h6 class="modal-title" id="exampleModalLabel"> Please tell us the reason you did not come </h6>
                                                <form>
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Message:</label>
                                                    <textarea class="form-control" id="message-text"></textarea>
                                                </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Send message</button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                                </div>

                                </div>


                                </div>
                               
                            </div>
                                                                {% else %}
                                    {% endif %}

                                    {% endfor %}

                        </div>
                        {%endif%}

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Progress</h3>
                            </div>
                            <div class="card-body">
                                <div class="row justify-content-center" >
                                    <div class="col-md-6 col-sm-4 col-lg-2">
                                        <div class="card">
                                            <div class="card-body p-3 text-center">
                                                <div class="text-right {% if progressChange.acquisition < 0 %} text-red {% elif progressChange.acquisition == 0 %} text-yellow {% else %} text-green {% endif %}">
                                                    {{progressChange.acquisition |floatformat:2}}%
                                                    <i class="fe {% if progressChange.acquisition < 0 %} fe-chevron-down {% elif progressChange.acquisition == 0 %} fe-circle {% else %} fe-chevron-up {% endif %}"></i>
                                                </div>
                                                <div class="h1 m-0">{{startupProgress.0.acquisition}}</div>
                                                <div class="text-muted mb-4">Acquisition</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-4 col-lg-2">
                                        <div class="card">
                                            <div class="card-body p-3 text-center">
                                                <div class="text-right {% if progressChange.activation < 0 %} text-red {% elif progressChange.activation == 0 %} text-yellow {% else %} text-green {% endif %}">
                                                    {{progressChange.activation |floatformat:2}}%
                                                    <i class="fe {% if progressChange.activation < 0 %} fe-chevron-down {% elif progressChange.activation == 0 %} fe-circle {% else %} fe-chevron-up {% endif %}"></i>
                                                </div>
                                                <div class="h1 m-0">{{startupProgress.0.activation}}</div>
                                                <div class="text-muted mb-4">Activation</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-4 col-lg-2">
                                        <div class="card">
                                            <div class="card-body p-3 text-center">
                                                <div class="text-right {% if progressChange.retention < 0 %} text-red {% elif progressChange.retention == 0 %} text-yellow {% else %} text-green {% endif %}">
                                                    {{progressChange.retention |floatformat:2}}%
                                                    <i class="fe {% if progressChange.retention < 0 %} fe-chevron-down {% elif progressChange.retention == 0 %} fe-circle {% else %} fe-chevron-up {% endif %}"></i>
                                                </div>
                                                <div class="h1 m-0">{{startupProgress.0.retention}}</div>
                                                <div class="text-muted mb-4">Retention</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-4 col-lg-2">
                                        <div class="card">
                                            <div class="card-body p-3 text-center">
                                                <div class="text-right {% if progressChange.revenue < 0 %} text-red {% elif progressChange.revenue == 0 %} text-yellow {% else %} text-green {% endif %}">
                                                    {{progressChange.revenue |floatformat:2}}%
                                                    <i class="fe {% if progressChange.revenue < 0 %} fe-chevron-down {% elif progressChange.revenue == 0 %} fe-circle {% else %} fe-chevron-up {% endif %}"></i>
                                                </div>                                    
                                                <div class="h1 m-0">{{startupProgress.0.revenue}}</div>
                                                <div class="text-muted mb-4">Revenue</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-4 col-lg-2">
                                        <div class="card">
                                            <div class="card-body p-3 text-center">
                                                <div class="text-right {% if progressChange.referral < 0 %} text-red {% elif progressChange.referral == 0 %} text-yellow {% else %} text-green {% endif %}">
                                                    {{progressChange.referral |floatformat:2}}%
                                                    <i class="fe {% if progressChange.referral < 0 %} fe-chevron-down {% elif progressChange.referral == 0 %} fe-circle {% else %} fe-chevron-up {% endif %}"></i>
                                                </div>
                                                <div class="h1 m-0">{{startupProgress.0.referral}}</div>
                                                <div class="text-muted mb-4">Referral</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Previous Mentorings</div>
                            </div>
                            <div class="card-body">
                                {% if startupMentoring %}
                                <ul class="list-unstyled list-separated">
                                    {% for mentoring in startupMentoring %}
                                    {% if forloop.last %}
                                    <li  class="list-separated-item" > 
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card card-aside">   
                                                    <div class="card-body d-flex flex-column">
                                                        <div class="d-flex align-items-center  mt-auto">
                                                            <div class="mr-9">
                                                                <span>{{mentoring.datetime}}</span>
                                                            </div>
                                                            <div>
                                                                <h4><a href="#" class="text-default">{{mentoring.title}}</a></h4>
                                                                <small class="d-block text-muted">{{mentoring.program.description}}</small>
                                                            </div>
                                                            <div class="ml-auto text-muted">
                                                                {% comment %} <a href='{% url "startup-mentoring-detail" pk=mentoring.id %}' class="btn btn-outline-primary btn-sm"><i class="fe fe-clipboard mr-1"></i> View</a> {% endcomment %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                    </li>
                                    {% endif %} 
                                    {% endfor %}
                                    <div class="text-center">
                                        <a class="btn btn-primary" href="{% url 'mentoring-list' %}"> <i class="fe fe-list mr-1"></i> All Mentorings</a>
                                    </div>
                                 </ul>
                                 {% else %}
                                    <h4 class="text-center text-muted" >Data is empty</h4>
                                {% endif %}
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Match Mentor</div>
                            </div>
                            <div class="card-body o-auto">
                            {% if matchMentor %}
                                <div class="row">
                                    {% for match in matchMentor %}
                                    <div class="col-lg-3">
                                        <div class="card">
                                            {% if match.mentor.profile.header_image %}
                                            <div class="widget-header" style="background-image: url('/media/{{match.mentor.profile.header_image}}');"></div>
                                            {% else %}
                                            <div class="widget-header" style="background-image: url(/static/demo/photos/david-klaasen-54203-500.jpg);"></div>                                            
                                            {% endif %}
                                            <div class="card-body text-center">
                                                {% if match.mentor.profile.picture %}
                                                <img class="widget-img avatar img-border-light" style="background-image: url('/media/{{match.mentor.profile.picture}}');">
                                                {% else %}
                                                <img alt="Profile Picture" class="widget-img avatar img-border-light" src="/static/demo/faces/male/user.png">
                                                {% endif %}
                                                <br>    
                                                <h4 class="card-title">{{ match.mentor.username }}</h4>
                                                {% for experience in match.mentor.profile.experiencedata_set.all %}
                                                {% if forloop.last %}
                                                <h6 class="card-subtitile text-uppercase">{{experience.title}}  and {{experience.company}}  </h6>
                                                {% endif %}
                                                {% endfor %}
                                                {% comment %} <h5>2 Mentees dummy</h5>                     {% endcomment %}
                                                <hr>
                                                <h3 class="card-subtitile text-center text-uppercase">{{ match.mentoring__feedbackformentor__helpfullness_grade__sum }}</h3>   
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div> 
                            {% else %}
                            <h4 class="text-center text-muted">Data is empty</h4>
                            {% endif %} 
                            </div>

                        </div>

                    </div>

                    <div class="tab-pane" id="mentoring" role="tabpanel">
                        <div class="card-body">
                            {% for feedback in feedbackStartup %}
                            <div class="row">
                            <br>
                                <div class="col-lg-4">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <h5 class="card-title color-primary">Communication</h5>
                                            <h1 class="card-text color-primary">{{feedback.communication_grade}}</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <h5 class="card-title color-primary">Attitude</h5>
                                            <h1 class="card-text color-primary">{{feedback.attitude_grade}}</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card text-center">
                                        <div class="card-body">
                                        <h5 class="card-title color-primary">Perseverance</h5>
                                        <h1 class="card-text color-primary">{{feedback.perseverance_grade}}</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-12 col-xl-12">


                            <div class="card">
                                <div class="card-header">
                                    <h4>Mentoring Now </h4>
                                    {% if startupMentorings %} 
                                    {% for mentorings in startupMentorings %}
                                     <div class="card-options">
                                        <a href='{% url "startup-update-mentoring" slug=object.slug  pk=mentorings.id %}' class="btn btn-success pull-right"> Add mentorings</a>                                
                                    </div> 
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="card-body o-auto">
                                {% if startupMentoring %}        
                                    {% for mentoring in startupMentoring %}
                                    <ul class="list-unstyled list-separated">
                                        <li class="list-separated-item">
                                            <div class="card-group row">
                                                <div class="card col-lg-2">
                                                    <div class="card-body text-center">
                                                        <span>{{mentoring.datetime}}</span>
                                                        <!-- <span class="bulan">April</span><br>
                                                        <span class="tanggal">10</span><br>
                                                        <span class="jam">04.00 pm - 07.00 pm</span>                                            -->
                                                    </div>
                                                </div>
                                                <div class="card col-lg-10">
                                                    <div class="row">
                                                        <div class="card-body col-lg-12">
                                                            <h5 class="card-title"> {{mentoring.title}} </h5>
                                                            <p class="card-text">{{mentoring.program.description}}</p>
                                                            <div class="btn-list text-right">
                                                            <a href='{% url "startup-update-mentoring" slug=object.slug  pk=mentoring.id %}' class="btn btn-outline-primary btn-sm"><i class="fe fe-plus mr-1"></i> Update mentorings</a>                                
                                                            <a href='{% url "mentoring-detail" pk=mentoring.id %}' class="btn btn-outline-primary btn-sm"><i class="fe fe-clipboard mr-1"></i> View</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                  
                                        </li>
                                    </ul>
                                    {% endfor %}
                                    <div class="text-center">
                                        <a class="btn btn-primary" href="{% url 'mentoring-list' %}"><i class="fe fe-list mr-1"></i> All Mentorings</a>
                                    </div>
                                {% else %}
                                    <h4 class="text-center text-muted" > Data is empty </h4>
                                {% endif %}
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                   <h3 class="card-title">Graphics Mentoring</h3>
                                </div>
                                <div class="card-body">
                                    <div class="col-12">
                                        <div id="chart-temperature" style="overflow: hidden;"></div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                require(['c3', 'jquery'], function(c3, $) {
                                    $(document).ready(function(){
                                        var chart = c3.generate({
                                            bindto: '#chart-temperature', // id of chart wrapper
                                            data: {
                                                columns:[
                                                        // each columns data
                                                        //['revenue', {% for value in revenueData %} {{value}}, {% endfor %} ],
                                                            ['retention', {% for value in retentionData %} {{value}}, {% endfor %} ],
                                                            ['referral', {% for value in referralData %} {{value}}, {% endfor %} ],
                                                            ['activation', {% for value in activationData %} {{value}}, {% endfor %} ],
                                                            ['acquisition', {% for value in acquisitionData %} {{value}}, {% endfor %} ]
                                                        ],
                                                labels: true,
                                                type: 'line', // default type of chart
                                                colors: {
                                                        //'revenue': tabler.colors["blue"],
                                                            'retention': tabler.colors["green"],
                                                            'referral': tabler.colors["red"],
                                                            'activation': tabler.colors["gray"],
                                                            'acquisition': tabler.colors["yellow"]
                                                        },
                                                names: {
                                                        // name of each serie
                                                        //'revenue': 'Revenue',
                                                            'retention': 'Retention',
                                                            'referral': 'Referral',
                                                            'activation': 'Activation',
                                                            'acquisition': 'Acquisition'
                                                        }
                                                 },
                                                
                                            axis: {
                                                x: {
                                                        type: 'category',
                                                        // name of each category
                                                        categories: [{% for week in categoriesData %} ' week {{week}}' , {% endfor %}]
                                                    },
                                                   },
                                            
                                            legend: {
                                                        show: false, //hide legend
                                                    },
                                            
                                            padding: {
                                                        bottom: 0,
                                                        top: 0
                                                     },
                                        });
                                    });
                                });
                            </script>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>List of mentorings </h4>
                                    {% comment %} <div class="card-options">
                                        <a href="#" class="btn btn-success pull-right"> Add mentorings</a>                                
                                    </div> {% endcomment %}
                                </div>
                                <div class="card-body o-auto">
                                {% if startupMentoring %}        
                                    {% for mentoring in startupMentoring %}
                                    <ul class="list-unstyled list-separated">
                                        <li class="list-separated-item">
                                            <div class="card-group row">
                                                <div class="card col-lg-2">
                                                    <div class="card-body text-center">
                                                        <span>{{mentoring.datetime}}</span>
                                                        <!-- <span class="bulan">April</span><br>
                                                        <span class="tanggal">10</span><br>
                                                        <span class="jam">04.00 pm - 07.00 pm</span>                                            -->
                                                    </div>
                                                </div>
                                                <div class="card col-lg-10">
                                                    <div class="row">
                                                        <div class="card-body col-lg-12">
                                                            <h5 class="card-title"> {{mentoring.title}} </h5>
                                                            <p class="card-text">{{mentoring.program.description}}</p>
                                                            <div class="btn-list text-right">
                                                            <a href='{% url "mentoring-detail" pk=mentoring.id %}' class="btn btn-outline-primary btn-sm"><i class="fe fe-clipboard mr-1"></i> View</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                  
                                        </li>
                                    </ul>
                                    {% endfor %}
                                    <div class="text-center">
                                        <a class="btn btn-primary" href="{% url 'mentoring-list' %}"><i class="fe fe-list mr-1"></i> All Mentorings</a>
                                    </div>
                                {% else %}
                                    <h4 class="text-center text-muted" > Data is empty </h4>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Previous Mentoring Notes</h3>
                                </div>
                                <div class="card-body">
                                {% if startupMentoring %}
                                    {% for mentoring in startupMentoring %}
                                    {% if forloop.last %}
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td rowspan="4" width="200px">
                                                    <div class="text-center">
                                                        <span>{{mentoring.datetime}}</span>
                                                        <br>
                                                        <span>{{mentoring.title}}</span>
                                                    {% comment %} <span class="bulan">April</span><br>
                                                    <span class="tanggal">10</span><br>
                                                    <span class="jam">04.00 pm - 07.00 pm</span>   {% endcomment %}
                                                    </div>
                                                </td>
                                                <td colspan="3">{{mentoring.mentor}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">{{mentoring.mentor_notes}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">{{mentoring.startup.name}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">{{mentoring.startup_notes}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
        
                                            {% comment %} <div class="text-center"> {% endcomment %}
                                                {% comment %} <a href="#" class="btn btn-primary btn-md">Read more</a> {% endcomment %}
                                            {% comment %} </div> {% endcomment %}
                                    {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <h4 class="text-center text-muted" > Data is empty </h4>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="progress" role="tabpanel">
                        <div class="card-body">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Weekly Progress</h3>
                                        {% comment %} {% if time_edit %} {% endcomment %}
                                        <div class="card-options">
                                        {% if edit%}
                                            <a href='{% url "generate-startup-pdf" slug=object.slug %}' style="margin-right: 1rem;" class="btn btn-dark btn-sm"><i class="fe fe-printer mr-1"></i> Print PDF</a>
                                        {% if dateprogress %}
                                            {% comment %} <a href='{% url "startup-add-progress" slug=object.slug %}' class="btn btn-success btn-sm"><i class="fe fe-file-plus mr-1"></i> Add Progress</a>                                         {% endcomment %}
                                        {% endif %}                                        
                                        {% if cekk %}
                                            <a href='{% url "startup-add-progress" slug=object.slug %}' class="btn btn-success btn-sm"><i class="fe fe-file-plus mr-1"></i> Add Progress</a>                                                                                
                                        {% endif %}
                                        {% endif %}

                                        </div>
                                    </div>
                                    <div class="card-body">
                                        {% if startupProgress %}
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Acquisition</th>
                                                    <th scope="col">Activation</th>
                                                    <th scope="col">Retention</th>
                                                    <th scope="col">Revenue</th>
                                                    <th scope="col">Referral</th>
                                                    <th scope="col">Action</th>                                    
                                                </tr>
                                            </thead>
                                            {% for startup_progress in startupProgress %}
                                            <tbody>
                                                <tr>
                                                    <th scope="row">{{startup_progress.datetime|date:'Y-m-d'}}</th>
                                                    <td>{{startup_progress.acquisition}}</td>
                                                    <td>{{startup_progress.activation}}</td>
                                                    <td>{{startup_progress.retention}}</td>
                                                    <td>{{startup_progress.revenue}}</td>
                                                    <td>{{startup_progress.referral}}</td>
                                                    <td>
                                                    {% if edit %}
                                                        <a href="{% url 'startup-update-progress' slug=object.slug pk=startup_progress.id %}" class="btn btn-warning btn-sm"><i class="fe fe-edit mr-2"></i> Edit</a>
                                                        <a href="{% url 'startup-delete-progress' slug=object.slug pk=startup_progress.id %}" class="btn btn-danger btn-sm"><i class="fe fe-edit mr-2"></i> Delete</a>
                                                     {% endif %}
                                                           {% comment %} <a href="{% url 'profile_update_experience' slug=profile_data.slug pk=experience.id %}" class="btn btn-warning btn-sm"><i class="fe fe-edit mr-2"></i> Edit</a>
                        <a href="{% url 'profile_delete_experience' slug=profile_data.slug pk=experience.id %}" class="btn btn-danger btn-sm"><i class="fe fe-edit mr-2"></i> Delete</a> {% endcomment %}
                                                    </td>
                                                </tr>
                                            </tbody>
                                            {% endfor %}
                                        </table>
                                        {% else %}
                                            <h4 class="text-center text-muted">Data is empty </h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Monthly Progress</h3>
                                        {% comment %} {% if request.user|has_group:"admin" %}                                     {% endcomment %}
                                      
                                        {% comment %} {% endif %} {% endcomment %}
                                    </div>
                                    <div class="card-body">
                                    {% if startupProgressMonthly %}    
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Month</th>
                                                    <th scope="col">Acquisition</th>
                                                    <th scope="col">Activation</th>
                                                    <th scope="col">Retention</th>
                                                    <th scope="col">Revenue</th>
                                                    <th scope="col">Referral</th>                                    
                                                </tr>
                                            </thead>
                                        {% for startup in startupProgressMonthly reversed %}
                                            <tbody>
                                                <tr>
                                                    <th scope="row">{{startup.month|date:'b'}}</th>
                                                    <td>{{startup.acquisition_sum}}</td>
                                                    <td>{{startup.activation_sum}}</td>
                                                    <td>{{startup.retention_sum}}</td>
                                                    <td>{{startup.revenue_sum}}</td>
                                                    <td>{{startup.referral_sum}}</td>
                                                </tr>
                                            </tbody>
                                        {% endfor %}
                                        </table>
                                    {% else %}
                                        <h4 class="text-center text-muted" > Data is empty</h4>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                             <div class="card">
                                {% if startupMentoring %}
                                    {% for mentoring in startupMentoring %}
                                    {% if forloop.last %}
                                <div class="card-header">
                                    <h3 class="card-title">Progress Task of Mentoring</h3>
                                   {% for task in startup_task %}
                                    <div class="card-options">
                                        <a href='{% url "startup-add-mentoring-task"  slug=object.slug  pk=task.id  %}' class="btn btn-success btn-sm pull-right"><i class="fe fe-user-plus mr-1"></i> Add Answer of Task</a>                                    
                                    </div>
                                   {% endfor %}

                                </div>
                                {%endif%}
                                {% endfor %}
                                {% endif %}
                                <div class="card-body">




                                {% if startupMentoring %}
                                    {% for mentoring in startupMentoring %}
                                    {% if forloop.last %}
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td rowspan="4" width="200px">
                                                    <div class="text-center">
                                                        <span>{{mentoring.datetime}}</span>
                                                        <br>
                                                        <span>{{mentoring.title}}</span>
                                                    {% comment %} <span class="bulan">April</span><br>
                                                    <span class="tanggal">10</span><br>
                                                    <span class="jam">04.00 pm - 07.00 pm</span>   {% endcomment %}
                                                    </div>
                                                </td>
                                                <td colspan="3">{{mentoring.mentor}}</td>
                                            </tr>
                                            {% for task in startup_task %}
{% if forloop.last %}

                                            <tr>
                                                <td colspan="3">{{task.task_for_startup}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">{{mentoring.startup.name}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">{{task.startup_assignment_report}}</td>
                                            </tr>
                                            {% else %}
{% endif %}
{% endfor %}
                                        </tbody>
                                    </table>
        
                                            {% comment %} <div class="text-center"> {% endcomment %}
                                                {% comment %} <a href="#" class="btn btn-primary btn-md">Read more</a> {% endcomment %}
                                            {% comment %} </div> {% endcomment %}
                                    {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <h4 class="text-center text-muted" > Data is empty </h4>
                                {% endif %}
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="tab-pane" id="schedule" role="tabpanel">
                        <div class="card-body">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Schedules </h4>
                                    </div>
                                    <div class="card-body o-auto">
                                        <ul class="list-unstyled list-separated">
                                            <li class="list-separated-item">
                                                <div class="card-group row">
                                                    <div class="card col-lg-2">
                                                    <div class="card-body text-center">
                                                        <span class="bulan">April</span><br>
                                                        <span class="tanggal">10</span><br>
                                                        <span class="jam">04.00 pm - 07.00 pm</span>                                           
                                                    </div>
                                                    </div>
                                                    <div class="card col-lg-10">
                                                        <div class="row">
                                                            <div class="card-body col-lg-10">
                                                                <h5 class="card-title">Title</h5>
                                                                <p class="card-text">content</p>
                                                            </div>
                                                        </div>    
                                                    </div>
                                                </div>                  
                                            </li>
                                            <li class="list-separated-item">
                                                <div class="card-group row">
                                                    <div class="card col-lg-2">
                                                    <div class="card-body text-center">
                                                        <span class="bulan">April</span><br>
                                                        <span class="tanggal">10</span><br>
                                                        <span class="jam">04.00 pm - 07.00 pm</span>                                           
                                                    </div>
                                                    </div>
                                                    <div class="card col-lg-10">
                                                        <div class="row">
                                                            <div class="card-body col-lg-10">
                                                                <h5 class="card-title">Title</h5>
                                                                <p class="card-text">content</p>
                                                            </div>
                                                        </div>    
                                                    </div>
                                                </div>                  
                                            </li>
                                            <li class="list-separated-item">
                                                <div class="card-group row">
                                                    <div class="card col-lg-2">
                                                    <div class="card-body text-center">
                                                        <span class="bulan">April</span><br>
                                                        <span class="tanggal">10</span><br>
                                                        <span class="jam">04.00 pm - 07.00 pm</span>                                           
                                                    </div>
                                                    </div>
                                                    <div class="card col-lg-10">
                                                        <div class="row">
                                                            <div class="card-body col-lg-10">
                                                                <h5 class="card-title">Title</h5>
                                                                <p class="card-text">content</p>
                                                            </div>
                                                        </div>    
                                                    </div>
                                                </div>                  
                                            </li>
                                        </ul>
                                    </div>
                                        {% if is_paginated %}
                                        <div class="card-footer">
                                            <div class="row">
                                            <div class="col-lg-12 ">
                                                <div class="hint-text page-links">
                                                <ul class="pagination justify-content-center">
                                                {% if page_obj.has_previous %}
                                                    <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"><i class="fa fa-angle-double-left"></i></a></li>
                                                {% endif %}
                                                    <li class="page-item"><a href="#" class="page-link page-current">{{ page_obj.number }} </a></li>
                                                    <li class="page-item"><a href="#" class="page-link">{{ page_obj.paginator.num_pages }}</a></li>
                                                {% if page_obj.has_next %}
                                                    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                                                
                                                {% endif %} 
                                                
                                            </ul>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <span>file not yet available</span>
                                        {% endif %}  
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}

<div class="tab-pane" id="schedule" role="tabpanel">
                        <div class="card-body">
                            <div class="col-lg-12">
                                        {% for schedule in startup_schedule.all  %}
                                        {% if schedule.status_startup == True %}
                                        

                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">New Schedule of Mentoring</div>
                                        {% comment %} <h3 class="card-title">About</h3> {% endcomment %}
                                    </div>
                                     <div class="card-body d-flex flex-column">
                                        <h4><a href="#">{{schedule.program}}</a></h4>
                                  
                                      <div class="d-flex align-items-center pt-5 mt-auto">    
                                            <div class="avatar avatar-md mr-3" style="background-image: url(/media/{{schedule.mentor.mentor.profile.picture}});"></div>
                                            <div>
                                                <a href="./profile.html" class="text-default"><strong> {{schedule.mentor}} </strong></a>
                                                <small class="d-block">{{schedule.startup.count}} startups going</small>
                                            </div>
                                            <div class="ml-auto">
                                            <p>{{schedule.datetime}}</p>
                                            <p>{{schedule.location}}</p>
                                            <a href="{% url 'startup-schedule-detail' slug=startup.slug pk=schedule.id %}" class="btn btn-outline-primary btn-sm"><i class="fe fe-file-text mr-1"></i> Detail</a>
                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                        {% else %}
                                        {% endif %}
                                        {% endfor %}

                        </div>
                    </div>




                    <div class="tab-pane" id="detail" role="tabpanel">
                        <div class="card-body">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">About</h3>
                                    </div>
                                    <div class="card-body">
                                        <p>{{startup.description}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Vision</h3>
                                    </div>
                                    <div class="card-body">
                                        <p> {{startup.vision}} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Mission</h3>
                                    </div>
                                    <div class="card-body">
                                        <p>{{startup.mission}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Teams</h3>
                                        {% if edit %}
                                
                                        <div class="card-options">
                                        <a href='{% url "member-invite" %}' class="btn btn-success btn-sm pull-right"><i class="fe fe-user-plus mr-1"></i> Invite</a>                                    
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% for founder in team %}
                                    <ul class="list-group card-list-group">
                                        <li class="list-group-item py-5">
                                            {% for member in founder.startup.all  %}

                                            <div class="media">

                                                {% if member.member.profile.picture %}
                                                {% comment %} {% if founder.startup__member__profile__picture %} {% endcomment %}
                                                <div class="media-object avatar avatar-xxl mr-5" style="background-image: url('/media/{{member.member.profile.picture}}')">                                            
                                                {% else %}
                                                <div class="media-object avatar avatar-xxl mr-5" style="background-image: url(/static/demo/faces/male/user.png)">
                                                {% endif %}
                                                </div>
                                                <div class="media-body">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <h5>Name</h5>
                                                            </td>
                                                            <td width="50px"></td>
                                                            <td>
                                                                <h5>{{member.member.profile}}</h5>

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h5>Position</h5>
                                                            </td>
                                                            <td width="50px"></td>
                                                            <td>
                                                                <h5>{{member.position}}</h5>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                        {% for expertise in member.member.profile.skilldata_set.all %}
                                                        
                                                            <td><h5>Expertise</h5></td>
                                                            <td width="50px"></td>
                                                            <td><h5>{{expertise}}</h5></td>
                                                        {% endfor %}
                                                        
                                                        </tr>
                                                </table>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </li>
                                    </ul>
                                    {% endfor %}
                                </div>
                            </div>

                            {% if request_member %} 
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Request New Member</h3>
                                    </div>
                                    {% for newmember in request_member %}
                                    <div class="card-body">
                                        <ul class="list-group card-list-group">
                                            <li class="list-group-item py-5">
                                                <div class="media">
                                                {% if newmember.user_rq.profile.picture %}
                                                    <div class="media-object avatar avatar-xxl mr-5" style="background-image: url('/media/{{newmember.user_rq.profile.picture}}')">                                            
                                                {% else %}
                                                    <div class="media-object avatar avatar-xxl mr-5" style="background-image: url(/static/demo/faces/male/user.png)">
                                                {% endif %}
                                                </div>

                                                <div class="media-body">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <h5>Name</h5>
                                                            </td>
                                                            <td width="50px"></td>
                                                            <td>
                                                                <h5>{{newmember.user_rq}}</h5>
                                                            </td>
                                                            <td class="text-right">
                                                                <a href="{% url 'approval-member' slug=startup.slug  pk=newmember.id %}" class="btn btn-secondary btn-sm"><i class="fe fe-user-check mr-1"></i>Accept</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h5>Experience</h5>
                                                            </td>
                                                            <td width="50px"></td>
                                                            {% for experience in newmember.user_rq.profile.experiencedata_set.all %}
                                                            <td>
                                                                <h5>{{experience}}</h5>
                                                            </td>
                                                            {% endfor %}

                                                        </tr>
                                                        <tr>
                                                            <td><h5>Expertise</h5></td>
                                                            <td width="50px"></td>
                                                            {% for skill in newmember.user_rq.profile.skilldata_set.all  %}
                                                            <td><h5>{{skill}}</h5></td>
                                                            {% endfor %}
                                                        </tr>
                                                        <!--TODO Link url linkedin-->
                                                        {% comment %} <tr>
                                                            <td><h5>Linkedin</h5></td>
                                                            <td width="50px"></td>
                                                            <td><h5><a href="{{'newmember.user_rq.profile.linkedin_profile' }}"></a></h5></td>
                                                        </tr> {% endcomment %}
                                                    </table>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
                 
            </div>
        </div>
       
    </div>
    <!--end container-->
</div>
{% endblock %}
