{% extends 'base.html' %} {% load static i18n %} {% block title %}StartupSuccess{% endblock %} {% block content %}

<div class="my-3 my-md-5">
    <!-- <div style="border:1px solid rgba(0, 40, 100, 0.12); padding: 16px; background:white; border-radius: calc(3px - 1px) calc(3px - 1px) 0 0,"> -->
    <div style="background:white">
        <h4 class="page-title" style="text-align:right">Startup: {{object.name}}</h4>
        <h1 class="title" style="text-align: center">Startup Success Report</h4>
        <hr style="color: rgba(0, 40, 100,0.12)">
    </div>
    <div class="container">
        <div class="card">
            <h3 class="card-title">Weekly Progress</h3>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Acquisition</th>
                            <th scope="col">Activation</th>
                            <th scope="col">Retention</th>
                            <th scope="col">Revenue</th>
                            <th scope="col">Referral</th>
                        </tr>
                    </thead>
                    {% for startup in startupProgress %}
                    <tbody>
                        <tr>
                            <th scope="row">{{startup.datetime|date:'Y-m-d'}}</th>
                            <td>{{startup.acquisition}}</td>
                            <td>{{startup.activation}}</td>
                            <td>{{startup.retention}}</td>
                            <td>{{startup.revenue}}</td>
                            <td>{{startup.referral}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="card">
            <h3 class="card-title">Monthly Progress</h3>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Month</th>
                            <th scope="col">Acquisition</th>
                            <th scope="col">Activation</th>
                            <th scope="col">Retention</th>
                            <th scope="col">Revenue</th>
                            <th scope="col">Referral</th>
                        </tr>
                    </thead>
                    {% for startup in startupProgressMonthly reversed %}
                    <tbody>
                        <tr>
                            <th scope="row">{{startup.month|date:'b'}}</th>
                            <td>{{startup.acquisition_sum}}</td>
                            <td>{{startup.activation_sum}}</td>
                            <td>{{startup.retention_sum}}</td>
                            <td>{{startup.revenue_sum}}</td>
                            <td>{{startup.referral_sum}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
