{% extends 'base.html' %}
{% load static i18n %}

{% block title %}StartupSuccess{% endblock %}

{% block content %}
{% load group_filter %}

<div class="my-3 my-md-5">
  <!-- container -->
  <div class="container">
    <!-- header -->
    <div class="page-header">
      <h1 class="page-title">Recruit</h1>
    </div>

  <!-- end header -->
  <!--List mentor-->
    <div class="row">
      <div class="col-lg-4">
        <div class="card" style="position: fixed; width:358px; ">
          <div class="card-header">
            <h3 class="card-title">Invite New Member</h3>
          </div>
          <div class="card-body">
            <form action="{% url 'member-invite-email' %}" method="POST">
                  {% csrf_token %}
              <div class="row">
                <div class="col-auto">
                  <span class="avatar avatar-xl" style="background-image: url('/static/demo/faces/male/user.png')"></span>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label class="form-label">Email-Address</label>
                    <input class="form-control" placeholder="email@domain.com" name="email"/>
                    {{form.as_p}}
                  </div>
                </div>
              </div>     
              <div class="form-footer">
                <input type="submit" value="Send" class="btn btn-primary btn-block">
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card">
          <!--card header-->
          <div class="card-header">
            <div class="card-title">List of user</div>
            <div class="card-options">
              <form action="">
                <div class="input-group">
                  <input type="text" class="form-control form-control-sm" placeholder="Search something..." name="s">
                  <span class="input-group-btn ml-2">
                    <button class="btn btn-sm btn-default" type="submit">
                      <span class="fe fe-search"></span>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <!--end card header-->
          <div class="card-body">
            {% if newmember %}
            <div class="row">
              {% for user in newmember %}
              <div class="col-lg-5"> 
              <!-- <a href="{{startup.get_absolute_url}}"> -->
                <div class="card">
                  {% if user.header_image %}
                  <div class="widget-header" style="background-image: url('/media/{{user.header_image}}');"></div>
                  {% else %}
                  <div class="widget-header" style="background-image: url('/static/demo/photos/adrian-infernus-281832-1500.jpg');"></div>
                  {% endif %}
                  <div class="widget-body text-center">
                    {% if user.picture %}
                    <img alt="Profile Picture" class="widget-img avatar img-border-light" src="{{user.picture.url}}">
                    {% else %}
                    <img alt="Profile Picture" class="widget-img avatar img-border-light" src="/static/demo/faces/male/user.png">
                    {% endif %}
                    {% comment %} <a href="{% url 'profile-detail' slug=startup.slug %}"> {% endcomment %}
                      <h4 class="card-title">{{user}}</h4>
                    {% comment %} </a> {% endcomment %}
                    {% if user.experiences%}
                      {% for experience in user.experiences.all %}
                        {% if forloop.last %}
                          <h6 class="text-uppercase">{{experience.title}} AT {{experience.company}} </h6>
                        {% endif %}
                      {% endfor %}
                    {% else %}
                    <h6 class="text-uppercase">Company|Experience</h6>                                        
                    <h6 class="card-subtitle text-uppercase">Undefined</h6>
                    {% endif %}
                   
                    <h6 class="card-subtitile text-center text-uppercase">Skill</h6>
                     <div class="row justify-content-md-center">
                      <div class="col-5">
                      {% if user.skills %}
                        <div class="row">
                      {% for skill in user.skills.all %}
                            <h6>{{skill.name}}</h6>
                      {% endfor %}
                        </div>
                      {% else %}
                        <h6 class="card-subtitle text-uppercase">Undefined</h6>
                      {% endif %}
                      </div>
                    </div>
                    <div class="text-center mt-6">
                      <a href="{% url 'request-invite' pk=user.id %}" class="btn btn-green btn-block">Invite</a>
                    </div>
                  </div>
                </div>  
              {% comment %} </a> {% endcomment %}
              </div>
              {% endfor %}
            </div>
            {% else %}
            <h4 style="text-align:center">Data is empty</h4>
            {% endif %}
          </div>
          <!--pagination-->
          {% if is_paginated %}
          <div class="card-footer">
            <div class="row">
              <div class="col-lg-12 ">
                <div class="hint-text page-links">
                  <ul class="pagination justify-content-center">
                    {% comment %} {{page_obj.paginator.page_range}} {% endcomment %}
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
                        <i class="fa fa-angle-double-left"></i>
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="?page={{ page_obj.previous_page_number}}" class="page-link">{{ page_obj.previous_page_number }}</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                      <span class="page-link page-current">{{ page_obj.number }} </span>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item">
                      <a href="?page={{ page_obj.next_page_number}}" class="page-link">{{ page_obj.next_page_number }}</a>
                    </li>
                    <li class="page-item">
                      <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                        <i class="fa fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {% endif %}                  
    <!--end pagination-->
        </div>
      </div>
    </div>
  <!--end list mentor-->
  </div>
  <!-- end container -->
</div>
{% endblock %}
