{% extends 'base.html' %}
{% load static i18n %}
{% load social_share %}
{% block title %}StartupSuccess{% endblock %}

{% block content %}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">Details</h1>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{data_schedule}}</h3>
                    <div class="card-options">
                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-comments mr-2"></i>  Feedback</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table card-table table-striped table-vcenter">
                        <thead>
                            <tr>
                                <th colspan="2">Speaker</th>
                                <th>Time</th>
                                <th>Location</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="w-1">
                                {% if dataMentoring.mentor.mentor.profile.picture %}
                                    <span class="avatar" style="background-image: url('/media/{{dataMentoring.mentor.mentor.profile.picture}}')"></span>
                                {% else %}
                                    <span class="avatar" style="background-image: url(/static/demo/faces/male/user.png)"></span>
                                {% endif %}

                                    <td>{{dataMentoring.mentor}}</td>
                                    <td class="text-nowrap">{{dataMentoring.datetime}}</td>
                                    <td>{{dataMentoring.location}}</td>
                                          
                                    <td class="w-1"><a href="#" class="btn btn-sm btn-secondary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fe fe-upload mr-1"></i> Share</a>
                                    <div class="collapse" id="collapseExample">
                                            {% post_to_twitter "New Mentoring: {{dataMentoring}}. Check it out!" object_or_url "Twitter" %}
                                            {% post_to_facebook  object_or_url "Facebook" %}

                                        </div>
                                    </td>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <h3 class="card-title">Description</h3>
                    <p>{{dataMentoring.program.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(function () {
  $('.example-popover').popover({
    container: 'body'
  })
})
</script>

{% endblock %}