{% extends 'base.html' %}
{% load static i18n %}

{% block title %}StartupSuccess{% endblock %}
{% block content %}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
                Choose Startup
            </h1>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-category">Create</div>
                        <div class="display-3 my-4">New Startup</div>
                        <div class="text-center mt-6">
                            <a href="{% url 'startup-add' %}" class="btn btn-secondary btn-block">Create</a>
                        </div>
                    </div>
                </div>
            </div>
            {% for startup in startup %}
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-status bg-green"></div>
                    <div class="card-body text-center">
                        <div class="card-category">Join</div>
                        <div class="display-3 my-4">{{startup}}</div>
                        <div class="text-center mt-6">
                            <a href="{% url 'join-startup' slug=startup.slug %}" class="btn btn-green btn-block">Request Join</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}