{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="my-3 my-md-5">
<div class="container">
    <div class="card">
        <div class="card-header">
          <h3 class="title">Update Mentoring {{startup.title}}</h3>
        </div>
        <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <div class="card-action">
                <input type="submit" class="btn btn-primary" value="Save">
            </div>
        </form>
    </div>
       
    </div>
</div>
</div>
{% endblock content %}
