{% extends 'base.html' %}
{% load static i18n %}

{% block title %}StartupSuccess{% endblock %}

{% block content %}
{% comment %} {% load group_filter %} {% endcomment %}

<div class="my-3 my-md-5">
  <!-- container -->
  <div class="container">
    <!-- header -->
    <div class="page-header">
      <h1 class="page-title">Startup</h1>
    </div>

  <!-- end header -->
  <!--List mentor-->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <!--card header-->
          <div class="card-header">
            <div class="card-title">List of startups</div>
            <div class="card-options">
              <form action="">
                <div class="input-group">
                  <input type="text" class="form-control form-control-sm" placeholder="Search something..." name="s">
                  <span class="input-group-btn ml-2">
                    <button class="btn btn-sm btn-default" type="submit">
                      <span class="fe fe-search"></span>
                    </button>
                     {% comment %} {% if request.user|has_group:"admin" %} {% endcomment %}
                    {% comment %} <a class="btn btn-primary ml-5" href="{% url 'startup-add' %}">Add startup</a> {% endcomment %}
                    {% comment %} {% endif %}           {% endcomment %}
                  </span>
                </div>
              </form>
            </div>
          </div>
          <!--end card header-->
          <div class="card-body">
            {% if object_list %}
            <div class="row">
              {% for startup in object_list %}
              <div class="col-lg-3">
                <div class="card">
                  {% if startup.header_image %}
                  <div class="widget-header" style="background-image: url('/media/{{startup.header_image}}');"></div>
                  {% else %}
                  <div class="widget-header" style="background-image: url('../static/demo/photos/adrian-infernus-281832-1500.jpg');"></div>
                  {% endif %}
                  <div class="widget-body text-center {% if startup.name == bestStartup.startup__name %} best {% endif %}">
                    {% if startup.picture %}
                    <img alt="Profile Picture" class="widget-img avatar img-border-light" src="{{startup.picture.url}}">
                    {% else %}
                    <img alt="Profile Picture" class="widget-img avatar img-border-light" src="../static/demo/faces/male/user.png">
                    {% endif %}
                    <a href="{% url 'startup-detail' slug=startup.slug %}">
                      <h4 class="card-title">{{startup.name}}</h4>
                    </a>
                    <br>
            
                    <h6 class="card-subtitile text-uppercase">Last mentoring sessions: {{startup.startupprogress_set.all.0.week}} wk</h6>
                    <div class="row justify-content-md-center text-uppercase">
                      <div class="col-6">
                        <small>revenue</small>
                        <br>
                        <span>{{startup.total_revenue}}</span>  
                      </div>   
                      <div class="col-6">
                        <small>acquisition</small>
                        <br>
                        <span>{{startup.total_acquisition}}</span>
                      </div>
                    </div>
                    <hr>
                    <h6 class="card-subtitile text-center text-uppercase">Action Items</h6>
                    <div class="row justify-content-md-center text-uppercase">
                      <div class="col-6">
                        <small>Activation</small>
                        <br>
                        <span>{{startup.total_activation}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              {% comment %} </a> {% endcomment %}
              </div>
              {% endfor %}
            </div>
            {% else %}
            <h4 class="text-center text-muted" > Data is empty </h4>
            {% endif %}
          </div>
          <!--pagination-->
          {% if is_paginated %}
          <div class="card-footer">
            <div class="row">
              <div class="col-lg-12 ">
                <div class="hint-text page-links">
                  <ul class="pagination justify-content-center">
                    {% comment %} {{page_obj.paginator.page_range}} {% endcomment %}
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
                        <i class="fa fa-angle-double-left"></i>
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="?page={{ page_obj.previous_page_number}}" class="page-link">{{ page_obj.previous_page_number }}</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                      <span class="page-link page-current">{{ page_obj.number }} </span>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item">
                      <a href="?page={{ page_obj.next_page_number}}" class="page-link">{{ page_obj.next_page_number }}</a>
                    </li>
                    <li class="page-item">
                      <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                        <i class="fa fa-angle-double-right"></i>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {% endif %}                  
    <!--end pagination-->
        </div>
      </div>
    </div>
  <!--end list mentor-->
  </div>
  <!-- end container -->
</div>
{% endblock %}
