{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  
  <div class="my-3 my-md-5">
    <div class="container">
      
      <div class="card">
        
        <div class="card-header">
          <h3 class="title">Update {{startup.title}}</h3>
        </div>
        
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="from-group row">
              <div class="col-6 ">
        
                <div class="card-content">
                {{ form|crispy }}
                </div>
    
                <div class="card-action">
                  <a class="btn btn-danger" href="{{ startup.get_absolute_url }}">Cancel</a>
                  <input class="btn btn-primary" type="submit" value="Update" />
                </div>

              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
 
{% endblock %}