<div class="page-content">
	<div class="container text-center">
		{% comment %} {% assign error = site.data.errors[page.error] %} {% endcomment %}
		<div class="display-1 text-muted mb-5"><i class="si si-exclamation"></i> {{ error.name }}</div>

		<h1 class="h2 mb-3">Oops.. You just found an error page..</h1>
		<p class="h4 text-muted font-weight-normal mb-7">{{ error.description }}&hellip;</p>

		<a class="btn btn-primary" href="javascript:history.back()">
			<i class="fe fe-arrow-left mr-2"></i>Go back
		</a>
	</div>
</div>