{% extends 'base.html' %}
{% load static i18n %}

{% block title %}StartupSuccess{% endblock %}
{% block content %}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
                Choose Role Entities
            </h1>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-category">Join</div>
                        <div class="display-3 my-4">Startup</div>
                        <div class="text-center mt-6">
                            <a href="{% url 'role-startup' %}" class="btn btn-secondary btn-block">Create</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-category">Join</div>
                        <div class="display-3 my-4">Mentor</div>
                        <div class="text-center mt-6">
                            <a href="{% url 'qualification_mentor' %}" class="btn btn-secondary btn-block">Create</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}