<div class="header py-3">
  <div class="container">
    <div class="d-flex">


      <!-- LOGO -->
      <a class="header-brand" href="{% url 'home' %}">
        <img src="/static/demo/brand/startups.png" class="header-brand-img" alt="tabler logo">
      </a>

      <div class="d-flex order-lg-2 ml-auto mt-3">

        <!-- NOTIF -->
        {% if user.is_authenticated %}
        <!-- <div class="dropdown d-none d-md-flex"> -->

          <!-- NOTIF LOGO -->
          <!-- <a class="nav-link icon" data-toggle="dropdown">
            <i class="fe fe-bell"></i>
            <span class="nav-unread"></span>
          </a> -->

          <!-- NOTIF DROPDOWN -->
          <!-- <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <a href="#" class="dropdown-item d-flex">
              <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/male/41.jpg)"></span>
              <div>
                <strong>Nathan</strong> pushed new commit: Fix page load performance issue.
                <div class="small text-muted">10 minutes ago</div>
              </div>
            </a>
            <a href="#" class="dropdown-item d-flex">
              <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/female/1.jpg)"></span>
              <div>
                <strong>Alice</strong> started new task: Tabler UI design.
                <div class="small text-muted">1 hour ago</div>
              </div>
            </a>
            <a href="#" class="dropdown-item d-flex">
              <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/female/18.jpg)"></span>
              <div>
                <strong>Rose</strong> deployed new version of NodeJS REST Api V3
                <div class="small text-muted">2 hours ago</div>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item text-center text-muted-dark">Mark all as read</a>
          </div>
        </div> -->
        {% endif %}

        <!-- PROFILE -->
        <div class="dropdown">

          <!-- PROFILE PIC -->
          {% if user.is_authenticated %}
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            {% load static %}
            <span class="ml-2 d-none d-lg-block">
            {% if user.profile.picture != "" %}
                <span class="avatar" style="background-image:url('/media/{{user.profile.picture }}') "></span>
            {%else%} 
                <span class="avatar" style="background-image:url(/static/demo/faces/male/user.png) "></span>
            {% endif %}
                <!-- <img src="{{ user.profile.picture }}" alt=""> -->
                <!-- {{ user.profile.picture }} -->
              <span class="text-default">{{user}}</span>
              <!-- <small class="text-muted d-block mt-1">Administrator</small> -->
            </span>
          </a>

          <!-- PROFILE DROPDOWN -->
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            {% comment %} <a class="dropdown-item" href="{% url 'myprofile' slug=object.slug %}"> {% endcomment %}
            {% comment %} <a class="dropdown-item" href="{% url 'myprofile'%}"> {% endcomment %}
            <a class="dropdown-item" href="{% url 'myprofile' slug=user.profile.slug %}">

              <i class="dropdown-icon fe fe-user"></i> Profile
            </a>
            {% comment %} <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-settings"></i> Create Startups
            </a> {% endcomment %}
             <!-- <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-settings"></i> Settings
            </a> -->
            <!-- <a class="dropdown-item" href="{% url 'account_email' %}">
              <span class="float-right"><span class="badge badge-primary">6</span></span>
              <i class="dropdown-icon fe fe-mail"></i> Inbox
            </a> -->
            <!-- <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-send"></i> Message
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-help-circle"></i> Need help?
            </a> -->
            <!-- <a class="dropdown-item" href="{% url 'account_logout' %}">
              <i class="dropdown-icon fe fe-log-out"></i> Sign out
            </a> -->
            <a class="dropdown-item" onclick="event.preventDefault();document.getElementById('form_logout').submit();" href="#">
              <i class="dropdown-icon fe fe-log-out"></i> Sign out
            </a>
            <form id="form_logout" method="post" action="{% url 'account_logout' %}" style="display:none">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <p class="has-text-centered">
                <button type="submit" class="button"></button>
              </p>
            </form>
          </div>
          {% else %}
          <a href="" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="avatar" style="background-image: url(/static/demo/faces/male/user.png)"></span>
            <span class="ml-2 d-none d-lg-block">
              <a class="text-default" href="{% url 'account_login' %}">Login</a>
            </span>
          </a>
          {% endif %}

        </div>

      </div>

      <!-- HAMBURGER MENU -->
      <!-- <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a> -->

    </div>
  </div>
</div>
