{% extends 'base.html' %}
{% load static i18n %}
{% block title %}StartupSuccess{% endblock %}
{% block content %}

<div class="my-3 my-md-5">
  <!-- container -->
  <div class="container">
  
    <!-- header -->
    <div class="page-header">
      <h1 class="page-title">Dashboard</h1>
    </div>
    <!-- end header -->

    <!-- user auth -->
    {% if user.is_authenticated %}

    <!-- progress card -->
    <div class="row row-cards justify-content-md-center">
      

      <!--Total startups-->
      <div class="col-6 col-sm-4 col-md">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="text-right text-green"><i class=""></i></div>
            <div class="h1 m-0">{{startupData}}</div>
            <div class="text-muted mb-4">Total Startups</div>
          </div>
        </div>
      </div>
      
      <!--Total mentors-->
      <div class="col-6 col-sm-4 col-md">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="text-right text-red"><i class=""></i></div>
            <div class="h1 m-0">{{mentorData}}</div>
            <div class="text-muted mb-4">Total Mentors</div>
          </div>
        </div>
      </div>

      <!--Total users-->
      <div class="col-6 col-sm-4 col-md">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="text-right text-green"><i></i></div>
            <div class="h1 m-0">{{userData}}</div>
            <div class="text-muted mb-4">Total Users</div>
          </div>
        </div>
      </div>

      <!--Total user male-->
      <div class="col-6 col-sm-4 col-md">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="text-right text-green"><i></i></div>
            <div class="h1 m-0">{{maleData}}</div>
            <div class="text-muted mb-4">Total Males</div>
          </div>
        </div>
      </div>

      <!--Total user female-->
      <div class="col-6 col-sm-4 col-md">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="text-right text-red"><i></i></div>
            <div class="h1 m-0">{{femaleData}}</div>
            <div class="text-muted mb-4">Total Females</div>
          </div>
        </div>
      </div>

    </div>
    <!-- end progress card --> 

    <!-- card best startup and mentor on this week-->
    <div class="row justify-content-center">

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Best startup on this week</h3>
          </div>
          {% if bestStartup %}
          {% if bestStartup.startup.header_image %}
          <div class="widget-header" style="background-image: url('media/{{bestStartup.startup.header_image}}');"></div>
          {% else %}
          <div class="widget-header" style="background-image: url(../static/demo/photos/eberhard-grossgasteiger-311213-500.jpg);"></div>
          {% endif %}
          <div class="card-body text-center">
          {% if bestStartup.startup.picture %}
            <img class="widget-img avatar img-border-light" src="media/{{bestStartup.startup.picture}}">
          {% else %}
            <img class="widget-img avatar img-border-light" src="../static/demo/faces/male/user.png">
          {% endif %}
            <br>
            <a href="{% url 'startup-detail' slug=bestStartup.startup.slug %}">
            <h3 class="mb-3">{{bestStartup.startup.name}}</h3>
            </a>
              <p class="mb-4">
                {{bestStartup.startup.description}}
              </p>
              <h6 class="card-subtitile text-uppercase">Last mentoring sessions: {{bestStartup.week}}</h6>
              <div class="row justify-content-md-center text-uppercase">
                <div class="col-6">
                  <small>revenue</small>
                  <h5>Rp {{bestStartup.revenue}}</h5>  
                </div>   
                <div class="col-6">
                  <small>acquisition</small>
                  <h5>{{bestStartup.acquisition}}</h5>
                </div>
              </div>
              <hr>
               <h6 class="card-subtitile text-center text-uppercase">User Active</h6>
            <div class="row justify-content-md-center text-uppercase">
              <div class="col-4">
                <h5>{{bestStartup.activation}}</h5>
              </div>
            </div>
          </div>
          {% else %}
          <div class="widget-body text-center text-muted">
            <h4>Data is empty</h4>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Best mentor on this week</h3>
          </div>
          {% if bestMentor %}
          {% if bestMentor.mentoring.mentor.mentor.profile.header_image %}
          <div class="widget-header" style="background-image: url('/media/{{bestMentor.mentoring.mentor.mentor.profile.header_image}}');"></div>
          {% else %}
          <div class="widget-header" style="background-image: url(../static/demo/photos/eberhard-grossgasteiger-311213-500.jpg);"></div>
          {% endif %}
          <div class="card-body text-center">
          {% if bestMentor.mentoring.mentor.mentor.profile.picture %}
            <img class="widget-img avatar img-border-light" src="media/{{bestMentor.mentoring.mentor.mentor.profile.picture}}">
          {% else %}
            <img class="widget-img avatar img-border-light" src="../static/demo/faces/male/user.png">
          {% endif %}
            <br>
            <a href="{% url 'mentor-detail' pk=bestMentor.mentoring.mentor.id %}">

            {% comment %} <a href="{% url 'mentor-detail' slug=bestMentor.mentoring.mentor.slug %}"> {% endcomment %}
            <h3 class="mb-3">{{bestMentor.mentoring.mentor}}</h3>
            </a>
              <p class="mb-4">
              {{bestMentor.mentoring.mentor.mentor.profile.bio }}
              </p>
              {% for experience in bestMentor.mentoring.mentor.mentor.profile.experiencedata_set.all %}
              <h6 class="text-uppercase">{{experience.title}} at {{experience.company}}</h6>              
              {% endfor %}
              <hr>
              <h6 class="card-subtitile text-center text-uppercase">Skills</h6>
              <div class="row justify-content-md-center">
              {% for skill in bestMentor.mentoring.mentor.mentor.profile.skilldata_set.all %}
                <div class="col-4">
                {{skill.name}}
                </div>
                {% endfor %}
              </div>
          </div>
           {% else %}
          <div class="widget-body text-center text-muted">
            <h4>Data is empty</h4>
          </div>
          {% endif %}
        </div>
      </div>


    
      <!-- end best mentor card -->
    </div>
    <!-- end card best mentor and startup-->

    <!--card startup update and startup not update on this week-->
    <div class="row">
      {% comment %} <div class="col-lg-12"></div> {% endcomment %}

      <!--Startup update-->
     <div class="col-lg-12">
        <div class="card">
          
          <div class="card-header">
            <div class="card-title">Startup Updates</div>
          </div>
          
          <div class="card-body">

          {% if updateData %}

            <div class="row">
             
              {% for update in updateData %}
              <div class="col-lg-3">
                <div class="card">
            
                  {% if update.header_image %}
                  <div class="widget-header" style="background-image: url('/media/{{update.header_image}}');"></div>
                  {% else %}
                  <div class="widget-header" style="background-image: url('../static/demo/photos/adrian-infernus-281832-1500.jpg');"></div>
                  {% endif %}
                  
                  <div class="widget-body text-center">
                    
                    {% if update.picture %} 
                    <img alt="Profile Picture" class="widget-img img-border-light" src="/media/{{update.picture}}">
                    {% else %}
                    <img alt="Profile Picture" src="../static/demo/faces/male/user.png" class="widget-img">
                    {% endif %}
                    <a href="{% url 'startup-detail' slug=update.slug %}">
                    <h4 class="card-title">{{update.name}}</h4>
                    </a>
                    <h6 class="card-subtitile text-uppercase">Last mentoring sessions: {{update.last_week}}</h6>
                    
                    <div class="row justify-content-md-center text-uppercase">
                      <div class="col-6">
                        <small>revenue</small><br>
                        <h5>RP {{update.total_revenue}}</h5> 
                      </div>   
                      <div class="col-6">
                        <small>acquisition</small><br>
                        <h5>{{update.total_acquisition}}</h5>
                      </div>
                    </div>
                    
                    <hr>
                    <h6 class="card-subtitile text-center text-uppercase">User Active</h6>
                    
                    <div class="row justify-content-md-center text-uppercase">
                      <div class="col-6">
                        <h5>{{update.total_activation}}</h5>
                      </div>
                    </div>
                 
                  </div>

                </div>
              </div>
              {% endfor %}
            </div>
            
          {% else %}
              <h4 class="text-center text-muted">Data is empty </h4>
          {% endif %}
          </div>

        </div>
      </div>
      <!--end startup update-->

      <!--startup not update-->
      <div class="col-lg-12">
        <div class="card">

          <div class="card-header">
            <div class="card-title">Startup Not Updates</div>
          </div>

          <div class="card-body">
          {% if nonupdateData%}
            <div class="row">
              
              {% for nonUpdate in nonupdateData %}
              <div class="col-lg-3">
                <div class="card">

                  {% if nonUpdate.header_image %}
                  <div class="widget-header" style="background-image: url('/media/{{nonUpdate.header_image}}');"></div>
                  {% else %}
                  <div class="widget-header" style="background-image: url('../static/demo/photos/adrian-infernus-281832-1500.jpg');"></div>
                  {% endif %}

                  <div class="widget-body text-center">  
                    
                    {% if nonUpdate.picture %}                    
                    <img alt="Profile Picture" class="widget-img img-border-light" src="/media/{{nonUpdate.picture}}">
                    {% else %}
                    <img class="widget-img" src="../static/demo/faces/male/user.png">
                    {% endif %}
                    <a href="{% url 'startup-detail' slug=nonUpdate.slug %}">
                    <h4 class="card-title">{{nonUpdate.name}}</h4>
                    </a>
                    <h6 class="card-subtitile text-uppercase">Last mentoring sessions: {{nonUpdate.last_week}}</h6>
                    
                    <div class="row justify-content-md-center text-uppercase">
                      <div class="col-6">
                        <small>revenue</small><br>
                        <h5>RP {{nonUpdate.total_revenue}}</h5>  
                      </div>   
                      <div class="col-6">
                        <small>acquisition</small><br>
                        <h5>{{nonUpdate.total_acquisition}}</h5>
                      </div>
                    </div>
                    
                    <hr>
                    <h6 class="card-subtitile text-center text-uppercase">User Active</h6>
                    
                    <div class="row justify-content-md-center text-uppercase">
                      <div class="col-6">
                        <h5>{{nonUpdate.total_activation}}</h5>
                      </div>
                    </div>
                  
                  </div>
                  
                </div>
              </div>
              {% endfor %}
            
            </div>
             {% else %}
              <h4 class="text-center text-muted">Data is empty </h4>
          {% endif %}
          </div>
          
        </div>
      </div>
        <!--end startup not update-->
    </div>
    <!--end startup update and startup not update-->

    {% else %}
    <a href="{% url 'account_login' %}">Login</a>
    {% endif %}
    <!-- end user auth -->

  </div>
<!--end container-->
</div>

{% endblock %}