{% extends 'base.html' %}
{% load static i18n %}
{% block title %}StartupSuccess{% endblock %}
{% block content %}

<div class="my-3 my-md-5">
  <!-- container -->
  <div class="container">
  
    <!-- header -->
    <div class="page-header">
      <h1 class="page-title">Dashboard</h1>
    </div>
    <!-- end header -->

    {% if user.is_authenticated %}
    <!-- progress card -->
    <div class="row row-cards justify-content-md-center">
      
      <!--Total startups-->
      <div class="col-6 col-sm-4 col-md">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="text-right text-green"><i class=""></i></div>
            <div class="h1 m-0">{{startupData}}</div>
            <div class="text-muted mb-4">Total Startups</div>
          </div>
        </div>
      </div>
      
      <!--Total mentors-->
      <div class="col-6 col-sm-4 col-md">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="text-right text-red"><i class=""></i></div>
            <div class="h1 m-0">{{mentorData}}</div>
            <div class="text-muted mb-4">Total Mentors</div>
          </div>
        </div>
      </div>

      <!--Total users-->
      <div class="col-6 col-sm-4 col-md">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="text-right text-green"><i></i></div>
            <div class="h1 m-0">{{userData}}</div>
            <div class="text-muted mb-4">Total Users</div>
          </div>
        </div>
      </div>

      <!--Total user male-->
      <div class="col-6 col-sm-4 col-md">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="text-right text-green"><i></i></div>
            <div class="h1 m-0">{{maleData}}</div>
            <div class="text-muted mb-4">Total Males</div>
          </div>
        </div>
      </div>

      <!--Total user female-->
      <div class="col-6 col-sm-4 col-md">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="text-right text-red"><i></i></div>
            <div class="h1 m-0">{{femaleData}}</div>
            <div class="text-muted mb-4">Total Females</div>
          </div>
        </div>
      </div>

    </div>
    <!-- end progress card --> 

    <!-- card best startup and mentor on this week-->
    <div class="row">
      <div class="col-lg-3"></div>

      <!-- best startup card -->
      {% comment %} {% if not best %} 
      {% else %} {% endcomment %}
      <div class="col-lg-3">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Best startup on this week</h3>
          </div>
          {% if best %}
          {% if best.startup__header_image %}
          {% comment %} <img src="{{MEDIA_URL}}/{{best.startup__header_image}}" alt=""> {% endcomment %}
          <div class="widget-header" style="background-image: url('media/{{best.startup__header_image}}')"></div>
          {% else %}
          <div class="widget-header" style="background-image: url('../static/demo/photos/adrian-infernus-281832-1500.jpg');"></div>
          {% endif %}

          <div class="widget-body text-center">
            {% if best.startup__picture %}
            <img src="{{MEDIA_URL}}/{{best.startup__header_image}}" alt="">
            <img alt="Profile Picture" class="widget-img img-border-light" src="media/{{best.startup__picture}}">
            {% else %}
            <img alt="Profile Picture" class="widget-img img-border-light" src="../static/demo/faces/male/user.png">
            {% endif %}

            <h4 class="card-title">{{best.startup__name}}</h4>
            <h6 class="card-subtitile text-uppercase">Last mentoring sessions: {{best.week}}</h6>
            <div class="row justify-content-md-center text-uppercase">
              <div class="col-6">
                <small>revenue</small>
                {% comment %} {{startup.total_revenue}} {% endcomment %}
                <h5>Rp {{best.revenue}}</h5>  
              </div>   
              <div class="col-6">
                <small>acquisition</small>
                <h5>{{best.acquisition}}</h5>
              </div>
            </div>
            <hr>
            <h6 class="card-subtitile text-center text-uppercase">Action Items</h6>
            <div class="row justify-content-md-center text-uppercase">
              <div class="col-6">
                <small>Active</small>
                <h5>{{best.activation}}</h5>
              </div>
            </div>
          </div>
          {% else %}
          <div class="widget-body text-center text-muted">
            <h4>Data is empty</h4>
          </div>
          {% endif %}
        </div>
      </div>
      {% comment %} {% endif %} {% endcomment %}
      <!-- end best startup card -->

      <!-- best mentor card -->
      {% comment %} {{dataMentor.mentor__slug}} {% endcomment %}
      {% comment %} {% if not bestMentor %} 
      {% else %} {% endcomment %}
      <div class="col-lg-3">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Best mentor on this week</h3>
          </div>
          <div class="card-body text-center">
          {% if bestMentor %}
            <img alt="Profile Picture" src="media/{{bestMentor.mentoring__mentor__profile__picture}}" class="card-profile-img">
          {% else %}
            <img alt="Profile Picture" src="../static/demo/faces/male/user.png" class="card-profile-img">
          {% endif %}
            <h4 class="card-title">{{bestMentor.mentoring__mentor__profile__nickname}}</h4>
          {% comment %} {{bestMentor.mentoring__mentor__mentorprofile__experiences.id}} {% endcomment %}
          {% comment %} <h6 class="card-subtitile">{{bestMentor.mentoring__mentor__mentorprofile__experiences}}</h6> {% endcomment %}
          {% comment %} {% for experience in bestMentor.mentoring__mentor__mentorprofile__experiences.all %}
          {% if forloop.last %}
          <h6 class="card-subtitile">{{experience.title}} {{experience.company}} </h6>
          {% endif %}
          {% endfor %} {% endcomment %}
            
            <h6 class="card-subtitile"> CTO at Kibar</h6>
            <hr>
            <h6 class="card-subtitile text-center text-uppercase">Skills</h6>
            <div class="row justify-content-md-center">
              <div class="col-4">
                <small>Skills</small>
                <span>Python</span>  
              </div>  
            </div>
          </div>
        </div>
      </div>
      {% comment %} {% endif %} {% endcomment %}
    <!-- end best mentor card -->

    </div>
    <!-- end card-->

{% comment %} {% if updateData %} {% endcomment %}
    <!--card startup update and mentor update on this week-->
    <div class="row">
      <div class="col-lg-12"></div>

      <!--Startup update-->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Startup Updates</div>
          </div>
          <div class="card-body">
          {% if updateData is None %}
            <h4 style="text-align: center">Data is empty </h4>
          {% else %}
            <div class="row">
              {% for update in updateData %}
              <div class="col-lg-3">
                <div class="card">
            
                  {% if update.header_image %}
                  <div class="widget-header" style="background-image: url('/media/{{update.header_image}}');"></div>
                  {% else %}
                  <div class="widget-header" style="background-image: url('../static/demo/photos/adrian-infernus-281832-1500.jpg');"></div>
                  {% endif %}
                  
                  <div class="widget-body text-center">
                    {% if update.picture %}
                    <img alt="Profile Picture" class="widget-img img-border-light" src="/media/{{update.picture}}">
                    {% else %}
                    <img alt="Profile Picture" src="../static/demo/faces/male/user.png" class="card-profile-img">
                    {% endif %}

                    <h4 class="card-title">{{update.name}}</h4>
                    <h6 class="card-subtitile text-uppercase">Last mentoring sessions: {{update.last_week}}</h6>
                    <div class="row justify-content-md-center text-uppercase">
                      <div class="col-6">
                        <small>revenue</small><br>
                        <h5> {{update.total_revenue}}</h5>  
                      </div>   
                      <div class="col-6">
                        <small>acquisition</small><br>
                        <h5>{{update.total_acquisition}}</h5>
                      </div>
                    </div>
                    <hr>
                    <h6 class="card-subtitile text-center text-uppercase">Action Items</h6>
                    <div class="row justify-content-md-center text-uppercase">
                      <div class="col-6">
                        <small>Active</small><br>
                        <h5>{{update.total_activation}}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
  {% comment %} {% for update in updateData %}
            
            
              <!--card startup-->
              <div class="col-lg-3">
                <div class="card">
                  <div class="widget-header" style="background-image: url('media/{{update.startup__header_image}}');"></div>
                  <div class="widget-body text-center">
                      {% if update.startup__picture %}
                    <img alt="Profile Picture" class="widget-img img-border-light" src="media/{{update.startup__picture}}">
                    {% endif %}
                    <h4 class="card-title">{{update.startup__name}}</h4>
                    <h6 class="card-subtitile text-uppercase">Last mentoring sessions: {{update.week}}</h6>
                    <div class="row justify-content-md-center text-uppercase">
                      <div class="col-6">
                        <small>revenue</small><br>
                        <h5>Rp {{update.revenue}}</h5>  
                      </div>   
                      <div class="col-6">
                        <small>acquisition</small><br>
                        <h5>{{update.acquisition}}</h5>
                      </div>
                    </div>
                    <hr>
                    <h6 class="card-subtitile text-center text-uppercase">Action Items</h6>
                    <div class="row justify-content-md-center text-uppercase">
                      <div class="col-6">
                        <small>Active</small><br>
                        <h5>{{update.activation}}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end card startup-->
    {% endfor %} {% endcomment %}

            </div>
            {% endif %}
          </div>
          <!--end card body-->
        </div>
        <!--end card-->
      </div>
{% comment %} {% endif %} {% endcomment %}
<!--end startup update-->

<!--startup not update-->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Startup Not Updates</div>
          </div>
          <div class="card-body">
            <!-- <h4 style="text-align: center">Data is empty</h4> -->
            <div class="row">
              {% for nonUpdate in nonupdateData %}
              <div class="col-lg-3">
                <div class="card">
                  <div class="widget-header" style="background-image: url('/media/{{nonUpdate.header_image}}');"></div>
                  <div class="widget-body text-center">  
                    {% if nonUpdate.picture %}                    
                    <img alt="Profile Picture" class="widget-img img-border-light" src="/media/{{nonUpdate.picture}}">
                    {% else %}
                    <img class="widget-img" src="../static/demo/faces/male/user.png">
                    {% endif %}
                    <h4 class="card-title">{{nonUpdate.name}}</h4>
                    <h6 class="card-subtitile text-uppercase">Last mentoring sessions: {{nonUpdate.last_week}}</h6>
                    
                    <div class="row justify-content-md-center text-uppercase">
                      <div class="col-6">
                        <small>revenue</small><br>
                        <h5>{{nonUpdate.total_revenue}}</h5>  
                      </div>   
                      <div class="col-6">
                        <small>acquisition</small><br>
                        <h5>{{nonUpdate.total_acquisition}}</h5>
                      </div>
                    </div>
                    <hr>
                    <h6 class="card-subtitile text-center text-uppercase">Action Items</h6>
                    <div class="row justify-content-md-center text-uppercase">
                      <div class="col-6">
                        <small>Active</small><br>
                        <h5>{{nonUpdate.total_activation}}</h5>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <!--end card startup-->
            {% endfor %}
            {% comment %} {% for nonUpdate in nonupdateData %}
            {% if nonUpdate != None %}
            

              <!--card startup-->
              <div class="col-lg-3">
                <div class="card">
                  <div class="widget-header" style="background-image: url('media/{{nonUpdate.startup__header_image}}');"></div>
                  <div class="widget-body text-center">
                      {% if nonUpdate.startup__picture %}                    
                    <img alt="Profile Picture" class="widget-img img-border-light" src="media/{{nonUpdate.startup__picture}}">
                    {% endif %}
                    <h4 class="card-title">{{nonUpdate.startup__name}}</h4>
                    <h6 class="card-subtitile text-uppercase">Last mentoring sessions: {{nonUpdate.week}}</h6>
                    <div class="row justify-content-md-center text-uppercase">
                      <div class="col-6">
                        <small>revenue</small><br>
                        <h5>Rp {{nonUpdate.revenue}}</h5>  
                      </div>   
                      <div class="col-6">
                        <small>acquisition</small><br>
                        <h5>{{nonUpdate.acquisition}}</h5>
                      </div>
                    </div>
                    <hr>
                    <h6 class="card-subtitile text-center text-uppercase">Action Items</h6>
                    <div class="row justify-content-md-center text-uppercase">
                      <div class="col-6">
                        <small>Active</small><br>
                        <h5>{{nonUpdate.activation}}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end card startup-->
              {% else %}
              {% endif %}
            {% endfor %} {% endcomment %}
          </div>
          </div>
          <!--end card body-->
        </div>
        <!--end card-->
      </div>
    </div>
<!--end startup not update-->
<!--schedules-->
    <!-- <div class="row row-cards row-deck">
      <div class="col-md-6 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Schedules</h3>
          </div>
          <div class="card-body o-auto">
            <ul class="list-unstyled list-separated">
              <li class="list-separated-item">
                <div class="card-group row">
                  <div class="card col-lg-2">
                    <div class="card-body">
                      <h5 class="card-title">23 April 2018</h5>
                      <h6 class="card-subtitile">6.00 pm - 9.00 pm</h6>
                      <p class="card-text">EDS</p>
                    </div>
                  </div>
                  <div class="card col-lg-10">
                    <div class="card-body">
                      <h5 class="card-title">Title</h5>
                      <p class="card-text">content</p>
                    </div>
                  </div>
                </div>                  
              </li>
            </ul>
          </div>
          <div class="card-footer text-center">
            <a href="#" class="btn btn-success">Read more</a>
          </div>
        </div>
      </div>
    </div> -->
<!--end schedules-->
{% else %}
<a href="{% url 'account_login' %}">Login</a>
{% endif %}
  </div>
<!--end container-->
</div>

{% endblock %}