{% if user.is_authenticated %}
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center">
      {% comment %} <div class="col-lg-3 ml-auto">
        <form class="input-icon my-3 my-lg-0">
          <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
          <div class="input-icon-addon">
            <i class="fe fe-search"></i>
          </div>
        </form>
      </div> {% endcomment %}
      <div class="col-lg order-lg-first">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link"><i class="fa fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'mentor-list' %}" class="nav-link"><i class="fa fa-user-secret"></i> Mentor</a>
            <!-- <div class="dropdown-menu dropdown-menu-arrow">
              <a href="./cards.html" class="dropdown-item ">Cards design</a>
            </div> -->
          </li>
          <li class="nav-item">
            <a href="{% url 'startup-list' %}" class="nav-link"><i class="fa fa-rocket"></i> Startup</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'mentoring-list' %}" class="nav-link"><i class="fa fa-users"></i> Mentoring</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'schedule-list' %}" class="nav-link"><i class="fa fa-calendar"></i> Schedule</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
